{% load tz %}
{% get_current_timezone as TIME_ZONE %}
{% if rides %}
<div class="table-responsive">
    <table id="ride_table" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>From</th>
                <th>To</th>
                <th>Rider</th>
                <th>Start Time</th>
                <th>Start Time</th>
                <th>Local Time</th>
                <th>Complete</th>
                <th>Cost</th>
                <th>Fees</th>
                <th>Total</th>
                {% if customer.plan.includes_rides %}
                    <th>Included</th>
                {% endif %}
                <th>Invoiced</th>
                <th>Distance</th>
                <th>Company</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ride in rides %}
                <tr>
                    <td>{{ ride.id }}
                        {% if ride.cancelled %}
                            <span class="label label-danger">DELETED</span>
                        {% endif %}
                    </td>
                    <td>{{ ride.start.fullname|default:'--' }}<small class="subtext">{{ ride.start.fulladdress }}</small></td>
                    <td>{{ ride.destination.fullname|default:'--' }}<small class="subtext">{{ ride.destination.fulladdress }}</small></td>
                    <td>{{ ride.rider|default:'' }}</td>
                    <td>{{ ride.start_date|date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>{{ ride.start_date|date:"U" }}</td>
                    {% if ride.start.timezone %}
                        {% timezone ride.start.timezone %}
                            <td>{{ ride.start_date|date:"P (T)" }}</td>
                        {% endtimezone %}
                    {% else %}
                        <td>{{ ride.start_date|date:"P (T)" }}</td>
                    {% endif %}
                    <td align="center">
                        {% if ride.complete %}
                            <i class="fa fa-check text-success"></i>
                        {% endif %}
                        {% if ride.is_scheduled %}
                            <i class="fa fa-clock-o text-primary"></i>
                        {% endif %}
                    </td>
                    <td>{% if ride.cost %}${{ ride.cost|default:'0' }}{% endif %}</td>
                    <td>{% if ride.invoiced or ride.total_cost %}
                            {% if ride.total_fees %}${{ ride.total_fees|default:'0' }}{% endif %}
                        {% else %}
                            {% if ride.total_fees_estimate %}${{ ride.total_fees_estimate }}{% endif %}
                        {% endif %}
                    <td>{% if ride.invoiced or ride.total_cost %}
                            ${{ ride.total_cost|default:'0' }}
                        {% else %}
                            ${{ ride.total_cost_estimate|default:'0' }}
                        {% endif %}
                    </td>
                    {% if customer.plan.includes_rides %}
                        <td align="center">{% if ride.included_in_plan %}<i class="fa fa-check text-success"></i>{% endif %}</td>
                    {% endif %}
                    <td align="center">
                        {% if ride.invoiced or ride.invoice %}
                            <i class="fa fa-check text-success"></i>
                        {% endif %}
                    </td>
                    <td>{% if ride.distance %}
                            {{ ride.distance }} mi
                        {% endif %}
                    </td>
                    <td>
                        {{ ride.company|default:'' }}
                    </td>
                    <td>
                        <a href="#viewRideModal" data-rideID="{{ ride.id }}" data-toggle="modal" class="btn btn-primary btn-sm">View</a>
                        <a href="{% url 'ride_edit' ride.id %}" class="btn btn-default btn-sm">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="text-muted"><em>No rides yet</em></p>
{% endif %}