<footer class="footer">
    <div class="container">
        <p class="text-center">
            <a href="http://arriverides.com/about-us/">About Arrive</a>&nbsp;|
            <a href="http://arriverides.com/contact-us/">Contact Us</a>&nbsp;|&nbsp;
            <a href="http://arriverides.com/terms-of-service/">Terms of Service</a>&nbsp;|&nbsp;
            <a href="http://arriverides.com/privacy-notice/">Privacy Notice</a>
        </p>
        <p class="text-center">&copy; {% now 'Y' %} by Arrive Rides, LLC. All Rights Reserved.</p>
    </div>
</footer>
