<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'homepage' %}"><img src="{{ STATIC_URL }}img/arrive-logo.svg" /></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_staff %}
                <li><a href="{% url 'customer_list' %}">Customers</a></li>
            {% endif %}
            <li><a href="#">{{ request.user }}</a></li>
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
        </ul>
    </div>
</nav>