{% extends "registration/registration_base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
{% include 'registration/fragments/login_form.html' %}
<p><a href="{% url 'auth_password_reset' %}">Forgot your password?</a></p>
<hr>
<div class="row">
    <div class="col-sm-6">
        <a href="{% url 'register_self' %}" class="btn btn-success btn-block">Create an account <br>for yourself</a><br>
    </div>
    <div class="col-sm-6">
        <a href="{% url 'register_lovedone' %}" class="btn btn-success btn-block">Create an account <br>for someone else</a>
    </div>
</p>
{% endblock %}
