{% extends 'base_email.html' %}
{% block content %}
<p>Hi{% if user.first_name%} {{ user.first_name }}{% endif %},<br /><br />
Thanks for creating an account with Arrive Rides!<br /><br />

Check out our <a href="http://arriverides.com/how-it-works/">How It Works</a> page to make sure you’re getting the most out of your Arrive experience.<br /><br />

You can also <a href="https://app.arriverides.com/">sign in here</a> to update your profile, add commonly visited destinations, and manage your account.<br /><br />

As always, if you have any questions, please feel free to give us a call between 9am and 6pm PST at <strong>1-866-ARRIVE-8</strong> (<em>1-866-277-4838</em>).<br /><br />

We look forward to taking you great places!<br /><br />

The Arrive Rides Team</p>
{% endblock %}