{% extends 'base_email.html' %}
{% block content %}
<p>
A new customer has signed up and entered subscription payment information.
</p>
<table class="body-wrap">
    <tr>
        <td class="container" bgcolor="#ECF8FF"  style="padding:15px;">
            <table>
                <tr>
                    <td>
                        <p><strong>Customer</strong>:
                        {{ customer.first_name }} {{ customer.last_name }},
                        {{ customer.home.city }}, {{ customer.home.state }}
                        <p>
                        <p><strong>Account Holder</strong>:
                        {{ user.first_name }} {{ user.last_name }}
                        {% if profile.on_behalf %}
                         ({{ profile.relationship }})
                        {% endif %}
                        <p><strong>Plan</strong>:
                            {% if customer.plan %}
                                {{ customer.plan.name }}
                            {% else %}
                                <em>No plan selected yet</em>
                            {% endif %}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}