<div class="form-group{% if form_field.errors %} has-error{% endif %}">
    <label>
        {{ form_field.label }}{% if form_field.field.required %}<span class="req">*</span>{% endif %}
    </label>
    {% if help_text %}
        <span class="help-block">{{ help_text }}</span>
    {% endif %}
    <div class="radio">
        {% for choice in form_field %}
            <label>
                {{ choice.tag }}
                {{ choice.choice_label }}
            </label>
      {% endfor %}
    </div>
    {% if form_field.errors %}
        {{ form_field.errors }}
    {% endif %}
</div>
