{% extends 'concierge/customer_base.html' %}
{% load map_tags %}
{% load billing_tags %}
{% block customer_content %}

    <div class="row">
        <div class="col-sm-8">
            <table class="table">
                <tbody>
                    {% if customer.know_as %}
                        <tr>
                            <td>Known as</td>
                            <td>"{{ customer.known_as }}"</td>
                        </tr>
                    {% endif %}
                    {% if customer.dob %}
                        <tr>
                            <td>Age</td>
                            <td>
                                {{ customer.age }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Home address</td>
                        <td>
                            {{ customer.home.street1 }}<br>
                            {% if customer.home.street2 %}
                                {{ customer.home.street2 }}<br>
                            {% endif %}
                            {{ customer.home.city }},
                            {{ customer.home.state }}
                            {{ customer.home.zip_code }}
                        </td>
                    {% if customer.residence_type %}
                    <tr>
                        <td>Residence Type
                        <td>
                            {{ customer.get_residence_type_display }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if customer.residence_instructions %}
                    <tr>
                        <td>Residence instructions</td>
                        <td>
                            <p>{{ customer.residence_instructions }}</p>
                        </td>
                    </tr>
                    {% endif %}
                    {% if customer.home_phone %}
                    <tr>
                        <td>Home phone</td>
                        <td>{{ customer.home_phone }}
                            (H){% if customer.preferred_phone == 'h' %}
                            <i class="fa fa-check text-success"></i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if customer.mobile_phone %}
                    <tr>
                        <td>Mobile phone</td>
                        <td>
                            {{ customer.mobile_phone }} (M){% if customer.preferred_phone == 'm' %} <i class="fa fa-check text-success"></i> {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
                        </td>
                    </tr>
                    {% if riders %}
                        <tr>
                            <td>Riders</td>
                            <td>
                                {% for rider in riders %}
                                    {{ rider.first_name }} {{ rider.last_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Subscription billed to</td>
                        <td>
                            {% if customer.subscription_account %}
                                <i class="fa fa-credit-card"></i> {{ customer.subscription_account.last_4_digits|cc_display }} <a href="{% url 'payment_subscription_account_edit' customer.id %}">Edit</a></td>
                            {% else %}
                                <strong class="text-danger">None</strong> <a href="{% url 'payment_subscription_account_edit' customer.id %}">Add a payment method</a>
                            {% endif %}
                    </tr>
                    <tr>
                        <td>Rides billed to</td>
                        <td>
                            {% if customer.ride_account %}
                                <i class="fa fa-credit-card"></i> {{ customer.ride_account.last_4_digits|cc_display }} <a href="{% url 'payment_ride_account_edit' customer.id %}">Edit</a></td>
                            {% else %}
                                <strong class="text-danger">None</strong> <a href="{% url 'payment_ride_account_edit' customer.id %}">Add a payment method</a>
                            {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <p>
                <a href="{% url 'ride_start' customer.id %}" class="btn btn-success btn-block btn-lg{% if not customer.ready_to_ride %} disabled{% endif %}">
                    Start a New Ride
                </a>
            </p>
            {% if not customer.ready_to_ride %}
                <p class="alert alert-danger">
                {% for missing in customer.missing %}
                    {{ missing }}{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
{% if not customer.destinations %}
    <p class="alert alert-warning">No destinations entered for this customer! <a href="{% url 'destination_add' customer.id %}">Add one now</a></p>
{% endif %}

{% endblock %}