{% extends 'concierge/customer_base.html' %}
{% load custom_tags %}

{% block title %}Update Customer {{ customer }}{% endblock title %}
{% block customer_content %}

<form action="" class="form" method="POST" novalidate>{% csrf_token %}
    {% if errors %}
        <p class="alert alert-danger">
            {% if error|length == 1 %}
                Please correct the error below.
            {% else %}
                Please correct the errors below.
            {% endif %}
            {{ errors }}
        </p>
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            <h3 class="m-t-0">Customer Info</h3>
            <fieldset>
                {{ customer_form.plan.as_hidden }}
                {% render_form_field customer_form.first_name %}
                {% render_form_field customer_form.last_name %}
                {% render_form_field customer_form.email %}
                {% render_form_field customer_form.known_as %}
                {% render_form_field customer_form.dob '' 'date-mask' %}
                {% render_form_field customer_form.home_phone '' 'phone-mask' %}
                {% render_form_field customer_form.mobile_phone '' 'phone-mask' %}
                {% render_form_field customer_form.preferred_phone %}
                {% render_form_field customer_form.special_assistance %}
                {% render_form_field customer_form.preferred_service %}
                {% render_form_field customer_form.notes %}
            </fieldset>

            {% if customer.user.profile.on_behalf %}
                <h3>Account Holder Info</h3>
                {% render_form_field account_holder_form.first_name %}
                {% render_form_field account_holder_form.last_name %}
                {% render_form_field account_holder_form.email %}
                {% render_form_field account_holder_form.relationship %}
                {% render_form_field account_holder_form.phone '' 'phone-mask' %}
                {% render_form_field account_holder_form.source %}
                {% render_form_field account_holder_form.source_specific %}
            {% else %}
                {{ account_holder_form.first_name.as_hidden }}
                {{ account_holder_form.last_name.as_hidden }}
                {{ account_holder_form.email.as_hidden }}
            {% endif %}
            <h3>Group Membership</h3>
            {% render_form_field customer_form.group_membership %}
        </div>
        <div class="col-sm-6">
            <h3 class="m-t-0">Home Address</h3>
            <fieldset>
                {% render_form_field home_form.street1 %}
                {% render_form_field home_form.street2 '' 'no-label' %}
                {% render_form_field home_form.unit %}
                <div class="address-inline">
                    {% render_form_field home_form.city %}
                    {% render_form_field home_form.state '' 'state' %}
                    {% render_form_field home_form.zip_code '' 'zip zip-mask' %}
                </div>
                {% render_form_field customer_form.residence_type %}
                {% render_form_field home_form.address_for_gps %}
                {% render_form_field home_form.notes %}
            </fieldset>

            {% comment I don't think we're using this %}
                <h3 class="m-t-0">Loved Ones</h3>
                {{ lovedone_formset.management_form }}
                {% for form in lovedone_formset.forms %}
                    <fieldset class="lovedone"{% if customer.lovedones.all|length == 0 %} style="display:none;"{% endif %}>
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% render_form_field form.first_name %}
                        {% render_form_field form.last_name %}
                        {% render_form_field form.relationship %}
                        {% render_form_field form.email %}
                        {% render_form_field form.mobile_phone '' 'phone-mask' %}
                        {% render_form_field form.receive_updates %}
                        {% render_form_field form.street1 %}
                        {% render_form_field form.street2 '' 'no-label' %}
                        <div class="address-inline">
                            {% render_form_field form.city %}
                            {% render_form_field form.state '' 'state' %}
                            {% render_form_field form.zip_code '' 'zip zip-mask' %}
                        </div>
                        {% render_form_field form.DELETE %}
                    </fieldset>
                {% endfor %}
                <button id="add_lovedone_fields" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add Loved One</button>
            {% endcomment %}

            <h3>Riders <small>(At the same address)</small></h3>
            {{ rider_formset.management_form }}
            {% for form in rider_formset.forms %}
                <fieldset class="rider"{% if customer.riders.all|length == 0 %} style="display:none;"{% endif %}>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% render_form_field form.first_name %}
                    {% render_form_field form.last_name %}
                    {% render_form_field form.mobile_phone '' 'phone-mask' %}
                    {% render_form_field form.notes %}
                    {% render_form_field form.DELETE %}

                </fieldset>
            {% endfor %}
            <button type="button" id="add_rider_fields" class="btn btn-default btn-sm m-b-15"><i class="fa fa-plus"></i> Add Riders</button>

            <h3>Destinations</h3>
            {% if customer.destinations %}
                <ul class="list-group">
                {% for destination in customer.destinations %}
                    <li class="list-group-item">
                        {{ destination.fullname }}<br>
                        {% if destination.street1 %}
                            {{ destination.street1 }}<br>
                        {% endif %}
                        {% if destination.street2 %}
                        {{ destination.street2 }}<br>
                        {% endif %}
                        {{ destination.city }},
                        {{ destination.state }}
                        {{ destination.zip_code }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p><em>None yet.</em></p>
            {% endif %}
            <a href="{% url 'customer_destination_add' customer.id %}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add Destination</a>
        </div>
    </div>
    <div class="form-actions">
        <p><input type="submit" class="btn btn-primary btn-lg btn-block" value="Update" /></p>
        <p class="text-center">
            {% if customer.is_active %}
                <input name="_deactivate" type="submit" class="btn text-danger btn-link deactivate" value="Deactivate Customer" />
            {% else %}
                <input name="_activate" type="submit" class="btn text-success btn-link reactivate" value="Activate Customer" />
            {% endif %}
        </p>
    </div>
</form>

{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/apps/registration.min.js"></script>
{% endblock %}