{% extends 'concierge/customer_base.html' %}
{% load map_tags %}

{% block customer_content %}

{% if rides %}
    <h2>Rides</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>From</th>
                <th>To</th>
                <th>Started</th>
                <th>Ended</th>
                <th>Distance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ride in rides %}
            <tr>
                <td>{{ ride.id }}</td>
                <td>{{ ride.start.display_name }}</td>
                <td>{{ ride.destination.display_name }}</td>
                <td>{{ ride.start_date }}</td>
                <td>{% if ride.end_date %}
                    {{ ride.end_date }}
                    {% else %}
                    <span class="label label-warning">In progress</span>
                    {% endif %}
                </td>
                <td>{% if ride.distance %}
                        {{ ride.distance }} mi
                    {% endif %}
                </td>
                <td><a href="{% url 'ride_edit' ride.id %}" class="btn btn-default">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}