{% extends 'concierge/customer_list_base.html' %}
{% block customer_list_content %}
<div class="table-responsive">
    <table id="customer_list" class="table">
        <thead>
            <th>Name</th>
            <th>Home</th>
            <th>Phone</th>
            <th>Plan</th>
            <th>Rides</th>
            <th>Last ride</th>
            <th></th>
            <th>Notes</th>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr{% if not customer.ready_to_ride %} class="warning"{% endif %}>
                <td><a href="{% url 'customer_detail' customer.pk %}">{{ customer }}</a></td>
                <td>{{ customer.home.city }}, {{ customer.home.state }}</td>
                <td>{{ customer.phone_numbers_br|safe }}</td>
                <td><span class="label plan-label {{ customer.plan.name|lower|default:'none' }}">{{ customer.plan|default:'No ' }} Plan</span></td>
                <td>{{ customer.rides|length }}</td>
                <td>{% if customer.rides %}{{ customer.rides.0.start_date|timesince }} ago{% endif %}</td>
                <td>{% if customer.rides %}{{ customer.rides.0.start_date|date:"U" }}{% endif %}</td>
                <td>{% if not customer.ready_to_ride %}
                    <ul class="list-unstyled small">
                        {% for missing in customer.missing %}
                            <li>{{ missing }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function(){
        $('#customer_list').DataTable({
            'info':false,
            'paging':false,
            'columnDefs': [
                {'orderData':[6], 'targets': [5] },
                {
                    'targets': [6],
                    'visible': false,
                    'searchable': false
                },
            ],
        });
    })
</script>
{% endblock %}