{% extends 'base_app.html' %}
{% load map_tags %}

{% block content %}
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h1>{{ customer }} <a class="btn btn-sm btn-default" href="{% url 'customer_update' customer.pk %}">Edit</a></h1>
            </div>
            <div class="col-sm-6">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            {% if customer.known_as %}<h4>{{ customer.known_as }}</h4>{% endif %}
            {% if customer.dob %}
                Born {{ customer.dob }} ({{ customer.age }} years old)
            {% endif %}
            {{ customer.home.street1 }}<br>
            {% if customer.home.street2 %}
                {{ customer.home.street2 }}<br>
            {% endif %}
            {{ customer.home.city }},
            {{ customer.home.state }}
            {{ customer.home.zip_code }}
            {% if customer.residence_type %}
                <br><span class="label label-default">
                    {{ customer.get_residence_type_display }}
                </span>
            {% endif %}
            {% if customer.residence_instructions %}
                <p>Residence Instructions: {{ customer.residence_instructions }}</p>
            {% endif %}
            {% if customer.home_phone %}
                {{ customer.home_phone }} (H){% if customer.preferred_phone == 'h' %} <i class="fa fa-check text-success"></i> {% endif %}<br>
            {% endif %}
            {% if customer.mobile_phone %}
                {{ customer.mobile_phone }} (M){% if customer.preferred_phone == 'm' %} <i class="fa fa-check text-success"></i> {% endif %}<br>
            {% endif %}
            <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
            {% if riders %}
                <ul>
                    {% for rider in riders %}
                        <li>{{ rider.first_name }} {{ rider.last_name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn btn-success btn-block btn-lg">Start a New Ride</a>
        </div>
    </div>
<h3>Destinations</h3>
{% if customer.destinations %}
    <table class="table table-striped">
        <tbody>
            {% for destination in customer.destinations %}
                <tr>
                    <th width="33%">{{ destination.fullname }}<th>
                    <td width="33%">
                        {{ destination.street1 }}<br>
                        {% if destination.street2 %}
                            {{ destination.street2 }}<br>
                        {% endif %}
                        {{ destination.city }},
                        {{ destination.state }}
                        {{ destination.zip_code }}
                    </td>
                    <td width="33%">{% static_map destination %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="alert alert-warning">No destinations entered for this customer!</p>
{% endif %}
{% if customer.rides %}
    <h3>Rides</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th></th>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}


{% endblock %}