{% extends 'concierge/customer_list_base.html' %}
{% block customer_list_content %}
<div class="table-responsive">
    <table id="customer_list" class="table" style="width:100%">
        <thead>
            <th>Name</th>
            <th>Home</th>
            <th>Phone</th>
            <th>Plan</th>
            <th class="text-center">Rides</th>
            <th>Last ride</th>
            <th>Notes</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function(){
        $('#customer_list').DataTable({
            ajax: {
                url: '{% url "customer-list" %}',
                data: {
                    active: 'True'
                }
            },
            dom: "r<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                 "<'row'<'col-sm-12't>>" +
                 "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            autoWidth: false,
            order: [[0, 'asc']],
            columns: [
                { data: 'last_name',
                  render: function(data, type, full){
                    return '<a href="/concierge/customers/' + full.id + '">' + full.full_name + '</a>';
                  },
                  width:'15%'
                },
                { data: 'home',
                  orderable: false,
                  render: function(data){
                    if(data){
                        return data.city + ', ' + data.state;
                    }
                    return '';
                  },
                  width:'12%'
                },
                { data: 'phone_numbers_br',
                  orderable: false,
                  width:'12%'
                },
                { data: 'plan',
                  render: function(data){
                    if(data){
                        return '<span class="label plan-label ' +
                               data.name.toLowerCase() +
                               '">' +
                               data.name +
                               ' Plan</span>';
                    }
                    return '<em>None</em>'
                  },
                  width:'5%'
                },
                {
                    data: 'ride_count',
                    width:'5%',
                    className: 'text-center'
                },
                {
                    data: 'last_ride',
                    width:'15%'
                },
                {
                    data: 'notes',
                    className: 'small',
                    width: '20%'
                },
            ],
            language: {
                infoFiltered: "",
                info: "Showing _START_ to _END_ of _TOTAL_ active customers",
                processing: "Loading..."
            },
            serverSide: true,
            processing: true
        });
    })
</script>
{% endblock %}