{% extends 'concierge/customer_list_base.html' %}
{% block customer_list_content %}
<div class="table-responsive">
    <table id="customer_list" class="table">
        <thead>
            <th>Name</th>
            <th>Home</th>
            <th>Phone</th>
            <th>Plan</th>
            <th>Rides</th>
            <th>Last ride</th>
            <th>Notes</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function(){
        $('#customer_list').DataTable({
            ajax: {
                url: '{% url "customer-list" %}',
                data: {
                    active: 'True'
                }
            },
            autowidth: false,
            columns: [
                { data: 'last_name',
                  render: function(data, type, full){
                    return '<a href="/concierge/customers/' + full.id + '">' + full.full_name + '</a>';
                  }
                },
                { data: 'home',
                  orderable: false,
                  render: function(data){
                    if(data){
                        return data.city + ', ' + data.state;
                    }
                    return '';
                  }
                },
                { data: 'phone_numbers_br',
                  orderable: false
                },
                { data: 'plan',
                  render: function(data){
                    if(data){
                        return '<span class="label plan-label ' +
                               data.name.toLowerCase() +
                               '">' +
                               data.name +
                               ' Plan</span>';
                    }
                    return '<em>None</em>'
                  }
                },
                { data: 'ride_count'},
                { data: 'last_ride'},
                { data: 'notes'},
            ],
            language: {
                infoFiltered: ""
            },
            serverSide: true,
        });
    })
</script>
{% endblock %}