{% extends 'concierge/customer_base.html' %}
{% load custom_tags %}
{% load map_tags %}
{% block title %}Update Customer {{ customer }}{% endblock title %}
{% block customer_content %}
{% load thumbnail %}

<table class="table table-striped table-fixed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Notes</th>
            <th>Map</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% with customer.home as destination %}
        <tr>
            <td>{{ destination.fullname }}</td>
            <td>
                {% if destination.street1 %}
                    {{ destination.street1 }}<br>
                {% endif %}
                {% if destination.street2 %}
                    {{ destination.street2 }}<br>
                {% endif %}
                {{ destination.city }},
                {{ destination.state }}
                {{ destination.zip_code }}

            </td>
            <td>{% if destination.address_for_gps %}<small>
                <i class="fa fa-map-pin"></i> {{ destination.address_for_gps }}</small><br>
                {% endif %}
                <em class="small">{{ destination.notes }}</em></td>
            <td>
                {% static_map destination %}
            </td>
            <td>
                <a href="{% url 'customer_destination_edit' customer.id destination.id %}" class="btn btn-default btn-sm">Edit</a>
            </td>
        </tr>
    {% endwith %}
    {% for destination in destinations %}
        <tr>
            <td>{{ destination.fullname }}
                {% if destination.added_by %}
                    <br><em class="small">added by {{ destination.added_by }}</em>
                {% endif %}
            </td>
            <td>
                {% if destination.street1 %}
                    {{ destination.street1 }}<br>
                {% endif %}
                {% if destination.street2 %}
                    {{ destination.street2 }}<br>
                {% endif %}
                {{ destination.city }},
                {{ destination.state }}
                {{ destination.zip_code }}
                {% if destination.timezone != customer.home.timezone %}<br>
                    ({{ destination.tz }})
                {% endif %}
            </td>
            <td>{% if destination.address_for_gps %}<small>
                <i class="fa fa-map-pin"></i> {{ destination.address_for_gps }}</small><br>
                {% endif %}
                {% if destination.included_in_plan %}
                    <span class="label label-success">Always Included</span>
                {% endif %}
                <em class="small">{{ destination.notes|default:'' }}</em>
            </td>
            <td>
                {% if destination.attachments.all %}
                    {% thumbnail destination.attachments.first.image "360x270" crop="center" as im %}
                        <div class="static-map">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive">
                        </div>
                    {% endthumbnail %}
                {% else %}
                    {% static_map destination %}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'customer_destination_edit' customer.id destination.id %}" class="btn btn-default btn-sm">Edit</a>
                <a href="{% url 'customer_destination_delete' customer.id destination.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p><a href="{% url 'customer_destination_add' customer.id %}" class="btn btn-primary">Add a Destination</a></p>
{% endblock %}