{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Create Customer{% endblock title %}
{% block content %}
<div class="page-header">
    <h2>Create a New Customer</h2>
</div>
<div class="row">
    <div class="col-sm-6">
        <form action="" class="form" method="POST" novalidate>{% csrf_token %}
            {% if errors %}
                {% if errors|length == 1 %}
                    Please correct the error below.
                {% else %}
                    Please correct the errors below.
                {% endif %}
                {{ form.non_field_errors }}
                {{ home_form.non_field_errors }}
                {% for dict in destinatino_formset.errors %}
                    {% for error in dict.values %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% for field in form %}
                {% render_form_field field %}
            {% endfor %}

            <h3>Home Address</h3>
            {% for field in home_form %}
                {% render_form_field field %}
            {% endfor %}
            <h3>Destinations</h3>
            {{ destination_formset.management_form }}
            {% for form in destination_formset.forms %}
                {% for field in form %}
                    {% render_form_field field %}
                {% endfor %}
            {% endfor %}

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </form>
    </div>
</div>
{% endblock %}