{% extends 'base_app.html' %}
{% load custom_tags %}

{% url 'customer_detail' as customer_detail_url %}
{% if customer %}
    {% block title %}Customer {{ customer }}{% endblock %}
{% endif %}
{% block content %}
<div class="page-header customer">
    <div class="row">
        <div class="col-sm-6">
            <h1>{{ customer }}
                {% if customer.known_as %}
                 <small>"{{ customer.known_as }}"</small>
                {% endif %}
                {% if not customer.user.is_active or not customer.plan %}
                <small><span class="text-danger"><i class="fa fa-remove"></i> inactive</span></small>
                {% endif %}
            </h1>
        </div>
        <div class="col-sm-6">
            <div class="clearfix">
                <ul class="nav nav-pills">
                    <li role="presentation" class="start-ride-btn{% if not customer.ready_to_ride %} disabled{% endif %}"><a href="{% if customer.ready_to_ride %}{% url 'ride_start' customer.id %}{% else %}#{% endif %}">Start Ride</a></li>
                    <li role="presentation" class="{% if profile_page %}active{% endif %}"><a href="{% url 'customer_detail' customer.id %}">Profile</a></li>
                    <li role="presentation" class="{% if history_page %}active{% endif %}"><a href="{% url 'customer_history' customer.id %}">History</a></li>
                    <li role="presentation" class="{% if destinations_page %}active{% endif %}"><a href="{% url 'customer_destinations' customer.id %}">Destinations</a></li>
                    <li role="presentation" class="{% if update_page %}active{% endif %}"><a href="{% url 'customer_update' customer.id %}">Edit</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="customer-phone-numbers">{{ customer.phone_numbers|safe }}</div>
            {% if customer.plan %}
                <span class="label plan-label {{ customer.plan.name|lower }}">{{ customer.plan }} Plan</span>
            {% else %}
                <span class="label label-danger">No Plan Selected</span>
            {% endif %}
            {% if customer.subscription_account and customer.plan.included_rides_per_month %}
                Included rides taken this cycle: {{ customer.included_rides_this_month|default:'0' }} of {{ customer.plan.included_rides_per_month }}
            {% endif %}
        </div>
        <div class="col-sm-6 text-right">
            {% if customer.user.profile.on_behalf %}
                <p>Account managed by <strong>{{ customer.user}}</strong>
                {% if customer.user.profile.relationship %}
                    ({{ customer.user.profile.relationship }})
                {% endif %}
                {% if customer.user.profile.phone %}
                    <br>{{ customer.user.profile.phone }}
                {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% block customer_content %}
{% endblock customer_content %}
{% endblock content %}