{% extends 'concierge/customer_base.html' %}
{% load custom_tags %}

{% block title %}Update Customer {{ customer }}{% endblock title %}
{% block customer_content %}

<form action="" class="form" method="POST" novalidate>{% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            {% if errors %}
                {% if errors|length == 1 %}
                    Please correct the error below.
                {% else %}
                    Please correct the errors below.
                {% endif %}
                {{ form.non_field_errors }}
                {{ home_form.non_field_errors }}
            {% endif %}

            <h3 class="m-t-0">Customer Info</h3>
            <fieldset>
                {% render_form_field customer_form.intro_call %}
                {% render_form_field customer_form.first_name %}
                {% render_form_field customer_form.last_name %}
                {% render_form_field customer_form.email %}
                {% render_form_field customer_form.known_as %}
                {% render_form_field customer_form.dob '' 'date-mask' %}
                {% render_form_field customer_form.home_phone '' 'phone-mask' %}
                {% render_form_field customer_form.mobile_phone '' 'phone-mask' %}
                {% render_form_field customer_form.preferred_phone %}
                {% render_form_field customer_form.special_assistance %}
                {% render_form_field customer_form.notes %}
            </fieldset>

        </div>
        <div class="col-sm-6">
            <h3>Home Address</h3>
            <fieldset>
                {% render_form_field home_form.street1 %}
                {% render_form_field home_form.street2 '' 'no-label' %}
                <div class="address-inline">
                    {% render_form_field home_form.city %}
                    {% render_form_field home_form.state '' 'state' %}
                    {% render_form_field home_form.zip_code '' 'zip zip-mask' %}
                </div>
                {% render_form_field customer_form.residence_type %}
                {% render_form_field customer_form.residence_instructions %}
            </fieldset>

            {% comment I don't think we're using this %}
                <h3 class="m-t-0">Loved Ones</h3>
                {{ lovedone_formset.management_form }}
                {% for form in lovedone_formset.forms %}
                    <fieldset class="lovedone"{% if customer.lovedones.all|length == 0 %} style="display:none;"{% endif %}>
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% render_form_field form.first_name %}
                        {% render_form_field form.last_name %}
                        {% render_form_field form.relationship %}
                        {% render_form_field form.email %}
                        {% render_form_field form.mobile_phone '' 'phone-mask' %}
                        {% render_form_field form.receive_updates %}
                        {% render_form_field form.street1 %}
                        {% render_form_field form.street2 '' 'no-label' %}
                        <div class="address-inline">
                            {% render_form_field form.city %}
                            {% render_form_field form.state '' 'state' %}
                            {% render_form_field form.zip_code '' 'zip zip-mask' %}
                        </div>
                        {% render_form_field form.DELETE %}
                    </fieldset>
                {% endfor %}
                <button id="add_lovedone_fields" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add Loved One</button>
            {% endcomment %}

            <h3>Riders <small>(At the same address)</small></h3>
            {{ rider_formset.management_form }}
            {% for form in rider_formset.forms %}
                <fieldset class="rider"{% if customer.riders.all|length == 0 %} style="display:none;"{% endif %}>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% render_form_field form.first_name %}
                    {% render_form_field form.last_name %}
                    {% render_form_field form.mobile_phone '' 'phone-mask' %}
                    {% render_form_field form.DELETE %}

                </fieldset>
            {% endfor %}
            <button type="button" id="add_rider_fields" class="btn btn-default btn-sm m-b-15"><i class="fa fa-plus"></i> Add Riders</button>

            <h3>Destinations</h3>
            {% if customer.destinations %}
                <ul class="list-group">
                {% for destination in customer.destinations %}
                    <li class="list-group-item">
                        <a href="{% url 'customer_destination_edit' customer.id destination.id %}" class="btn btn-default btn-sm pull-right">Edit</a>
                        {{ destination.fullname }}<br>
                        {% if destination.street1 %}
                            {{ destination.street1 }}<br>
                        {% endif %}
                        {% if destination.street2 %}
                        {{ destination.street2 }}<br>
                        {% endif %}
                        {{ destination.city }},
                        {{ destination.state }}
                        {{ destination.zip_code }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p><em>None yet.</em></p>
            {% endif %}
            <a href="{% url 'customer_destination_add' customer.id %}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add Destination</a>
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update" />
    </div>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/apps/registration.min.js"></script>
{% endblock %}