{% extends 'base_app.html' %}
{% block header_includes %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables-imports.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}DataTables/datatables.min.js"></script>
{% endblock %}

{% block title %}Customer List{% endblock %}

{% block content %}
    <div class="page-header customer-list">
        <div class="row">
            <div class="col-sm-6">
                <h1>Customers</h1>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'customer_create' %}" class="btn btn-primary pull-right" style="margin-top:22px">Register a New Customer</a>
            </div>
        </div>
    </div>
    {% block customer_list_content %}
    {% endblock %}
{% endblock content %}
