{% extends 'concierge/customer_base.html' %}
{% load map_tags %}

{% block customer_content %}

<h3>Rides</h3>
{% include 'concierge/fragments/ride_history.html' %}

<h3>Contacts</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for touch in touches %}
                <tr>
                    <td>{{ touch.type|title }}</td>
                    <td>{{ touch.customer }}</td>
                    <td>{{ touch.date|default:"" }}</td>
                    <td class="small">{{ touch.notes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}