{% extends 'concierge/customer_base.html' %}
{% load map_tags %}

{% block header_includes %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables-imports.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}DataTables/datatables.min.js"></script>
{% endblock %}

{% block customer_content %}

<h3>Rides</h3>
{% include 'concierge/fragments/ride_history.html' %}

<h3>Contacts</h3>
<div class="checkbox">
    <label>
        <input type="checkbox" id="show_finance_touches" />
        Show billing contacts
    </label>
</div>

<div class="table-responsive">
    <table id="touch_table" class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Customer</th>
                <th>Conciege</th>
                <th>Date</th>
                <th>_Date</th>
                <th width="50%">Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for touch in touches %}
                <tr>
                    <td>{{ touch.type|title }}</td>
                    <td>{{ touch.customer }}</td>
                    <td>{{ touch.concierge|default:'' }}</td>
                    <td>{{ touch.date|default:"" }}</td>
                    <td>{{ touch.date|date:"U" }}</td>
                    <td class="small">{{ touch.notes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="viewRideModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/apps/view_ride_modal.min.js"></script>
<script>
    $(function(){
        $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
            var show_finance = $('#show_finance_touches').is(':checked');
            if(!show_finance && aData[0] === 'Billing'){
                return false;
            }
            return true;
        });
        $('#ride_table').DataTable({
            'order': [[ 5, "desc" ]],
            'columnDefs': [
                {'orderData':[5], 'targets': [4] },
                {
                    'targets': [5],
                    'visible': false,
                    'searchable': false
                },
            ],
        });
        var touch_table = $('#touch_table').DataTable({
            'order': [[ 4, "desc" ]],
            'columnDefs': [
                {'orderData':[4], 'targets': [3] },
                {
                    'targets': [4],
                    'visible': false,
                    'searchable': false
                },
            ],
        });
        $('#show_finance_touches').on('change', function(){
            touch_table.draw();
        });
    })
</script>
{% endblock scripts %}