{% extends 'concierge/customer_base.html' %}
{% load custom_tags %}
{% load map_tags %}
{% block title %}Add Activity for {{ customer }}{% endblock title %}
{% block customer_content %}

<div class="row">
    <div class="col-sm-6">
        <h3 class="m-t-0">Add Activity</h3>
        <form action="" class="form " method="POST" novalidate>{% csrf_token %}
            {% if errors %}
            <p class="alert alert-danger">
                {% if errors|length == 1 %}
                    Please correct the error below.
                {% else %}
                    Please correct the errors below.
                {% endif %}
            </p>
            {% endif %}
            {{ form.non_field_errors }}
            <fieldset class="activity">
                <input type="hidden" name="customer" value="{{ customer.id }}" />
                <div class="form-group activity-date{% if form.date.errors %} has-error{% endif %}">
                    <label>Date</label>
                    <span class="help-block">Defaults to now if blank</span>
                    <input class="form-control" type="text" value="">
                    {% if form.date.errors %}
                        {{ form.date.errors }}
                    {% endif %}
                </div>
                {{ form.date.as_hidden }}
                {% render_form_field form.type %}
                <div id="type_other" style="display:none;">
                    {% render_form_field form.type_other %}
                </div>
                {% render_form_field form.notes %}
            </fieldset>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary btn-block" value="Save" />
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <h3 class="m-t-0">Previous Activity</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for touch in touches %}
                    <tr>
                        <td>{{ touch.date|default:"" }}</td>
                        <td>{{ touch.type|title }}</td>
                        <td class="small">{{ touch.notes }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">
                            <em>None yet</em>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/customer_activity.min.js"></script>

{% endblock %}