{% extends 'concierge/customer_list_base.html' %}
{% load custom_tags %}
{% block title %}Create Customer{% endblock title %}
<h1>{% block pagetitle %}Create a New Customer{% endblock %}</h1>
{% block customer_list_content %}
<div class="row">
    <div class="col-sm-8 col-md-6">
        <form action="" class="form" method="POST" novalidate>{% csrf_token %}
            {% if errors %}
            <p class="alert alert-danger">
                {% if error|length == 1 %}
                    Please correct the error below.
                {% else %}
                    Please correct the errors below.
                {% endif %}
                <br />You may need to enter your password again, too.
            </p>
            {% endif %}
            {{ form.non_field_errors }}
            {{ register_form.non_field_errors }}
            {{ customer_form.non_field_errors }}
            {{ home_form.non_field_errors }}
            {{ rider_form.non_field_errors }}
            <fieldset>
                <legend>Primary Rider's Information</legend>
                    {% render_form_field customer_form.first_name %}
                    {% render_form_field customer_form.last_name %}
                    {% render_form_field customer_form.known_as %}
                    {% render_form_field customer_form.email %}
                <label>Phone number(s)<span class="req">*</span> <span class="note">(must enter at least one)</span></label>
                {% render_form_field customer_form.home_phone '' 'sub-field phone-mask' %}
                {% render_form_field customer_form.mobile_phone '' 'sub-field phone-mask' %}
                {% render_form_field customer_form.preferred_phone %}
                {% render_form_field customer_form.send_updates %}
                {% render_form_field customer_form.dob  '' 'date-mask' %}
            </fieldset>
            <fieldset>
                <legend>Account Information</legend>
                    <p>Enter information for the person who will be managing this account.</p>
                    <div class="checkbox">
                        <label><input id="use_customer_info" type="checkbox"> Use the primary rider's information</label>
                    </div>
                {% render_form_field register_form.email %}
                {% render_form_field register_form.first_name %}
                {% render_form_field register_form.last_name %}
                {% render_form_field register_form.relationship %}
                {% render_form_field register_form.phone '' 'phone-mask' %}
                {% render_form_field register_form.password1 %}
                {% render_form_field register_form.password2 %}
            </fieldset>
            <fieldset>
                <legend>Primary Customer's Home Address</legend>
                {% render_form_field home_form.street1 %}
                {% render_form_field home_form.street2 '' 'no-label' %}
                <div class="address-inline">
                    {% render_form_field home_form.city %}
                    {% render_form_field home_form.state '' 'state' %}
                    {% render_form_field home_form.zip_code '' 'zip zip-mask' %}
                </div>
                {% render_form_field customer_form.residence_type %}
                {% render_form_field home_form.notes %}
            </fieldset>
            <fieldset>
                <legend>Secondary Rider's Information</legend>
                <span class="help-block">Must share the same residence.</span>
                {% render_form_field rider_form.first_name %}
                {% render_form_field rider_form.last_name %}
                {% render_form_field rider_form.mobile_phone '' 'phone-mask' %}
            </fieldset>
            <fieldset>
                <legend>Marketing Source</legend>
                {% render_form_field register_form.source %}
                <div id="source_other" style="display:none;">
                    {% render_form_field register_form.source_other %}
                </div>
            </fieldset>
            <fieldset>
                <legend>Group Memberships</legend>
                {% render_form_field customer_form.group_membership %}
            </fieldset>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary btn-block" value="Create" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/registration.min.js"></script>
{% endblock %}