{% extends 'base_app.html' %}
{% load custom_tags %}

{% url 'customer_detail' as customer_detail_url %}
{% if customer %}
    {% block title %}Customer {{ customer }}{% endblock %}
{% endif %}
{% block content %}
<div class="page-header customer">
    <div class="row">
        <div class="col-sm-6">
            <h1>{{ customer }}</h1>
            <span class="label label-warning">Plan Type</span>
            {% if customer.rides_this_month %}
            {{ customer.rides_this_month }} ride{% if customer.rides_this_month > 1 %}s{% endif %} this month
            {% endif %}
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-pills">
                <li role="presentation" class="start-ride-btn"><a href="{% url 'ride_start' customer.id %}">Start Ride</a></li>
                <li role="presentation" class="{% if profile_page %}active{% endif %}"><a href="{% url 'customer_detail' customer.id %}">Profile</a></li>
                <li role="presentation" class="{% if ride_page %}active{% endif %}"><a href="{% url 'customer_rides' customer.id %}">Rides</a></li>
                <li role="presentation" class="{% if destinations_page %}active{% endif %}"><a href="{% url 'customer_destinations' customer.id %}">Destinations</a></li>
                <li role="presentation" class="{% if update_page %}active{% endif %}"><a href="{% url 'customer_update' customer.id %}">Edit</a></li>
            </ul>
        </div>
    </div>
</div>
{% block customer_content %}
{% endblock customer_content %}
{% endblock content %}