{% extends 'concierge/customer_base.html' %}
{% load map_tags %}

{% block customer_content %}

<h3>Rides</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>From</th>
            <th>To</th>
            <th>Started</th>
            <th>Ended</th>
            <th>Distance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ride in rides %}
            <tr>
                <td>{{ ride.id }}</td>
                <td>{{ ride.start.display_name }}</td>
                <td>{{ ride.destination.display_name }}</td>
                <td>{{ ride.start_date }}</td>
                <td>{% if ride.end_date %}
                    {{ ride.end_date }}
                    {% else %}
                    <span class="label label-warning">In progress</span>
                    {% endif %}
                </td>
                <td>{% if ride.distance %}
                        {{ ride.distance }} mi
                    {% endif %}
                </td>
                <td><a href="{% url 'ride_edit' customer.id ride.id %}" class="btn btn-default btn-sm">Edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Contacts</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for touch in touches %}
            <tr>
                <td>{{ touch.type }}</td>
                <td>{{ touch.customer }}</td>
                <td>{{ touch.date }}</td>
                <td>{{ touch.notes }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}