{% extends 'concierge/customer_list_base.html' %}
{% block pagetitle %}Inactive Customers{% endblock %}
{% block customer_list_content %}
<p><em>These customers are either marked "inactive" or have not selected a plan (incomplete registration)</em></p>
<div class="table-responsive">
    <table id="customer_list" class="table">
        <thead>
            <th>Name</th>
            <th>Active</th>
            <th>Home</th>
            <th>Phone</th>
            <th>Plan</th>
            <th>Rides</th>
            <th>Notes</th>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function(){
        $('#customer_list').DataTable({
            ajax: {
                url: '{% url "customer-list" %}',
                data: {
                    active: 'False'
                }
            },
            order: [[0, 'asc']],
            language: {
                infoFiltered: ""
            },
            columns: [
                { data: 'last_name',
                  render: function(data, type, full){
                    return '<a href="/concierge/customers/' + full.id + '">' + full.full_name + '</a>';
                  }
                },
                { data: 'is_active',
                  render: function(data){
                    var iconClass = data ? 'fa-check text-success' : 'fa-remove text-danger';
                    return '<i class="fa ' + iconClass + '"></i>'
                  }
                },
                { data: 'home',
                  orderable: false,
                  render: function(data){
                    if(data){
                        return data.city + ', ' + data.state;
                    }
                    return '';
                  }
                },
                { data: 'phone_numbers_br',
                  orderable: false
                },
                { data: 'plan',
                  render: function(data){
                    if(data){
                        return '<span class="label plan-label ' +
                               data.name.toLowerCase() +
                               '">' +
                               data.name +
                               ' Plan</span>';
                    }
                    return '<em>None</em>'
                  }
                },
                { data: 'ride_count'},
                { data: 'notes'},
            ],
            serverSide: true,
            language: {
              infoFiltered: "",
              info: "Showing _START_ to _END_ of _TOTAL_ inactive customers",
            }
        });
    })
</script>
{% endblock %}