{% extends 'base_app.html' %}
{% load custom_tags %}
{% block header_includes %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables-imports.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}DataTables/datatables.min.js"></script>
{% endblock %}

{% block title %}Customer List{% endblock %}

{% block content %}
    <div class="page-header customer-list">
        <div class="row">
            <div class="col-sm-4">
                <h1>{% block pagetitle %}Customers{% endblock %}</h1>
            </div>
            <div class="col-sm-8">
                <div class="clearfix">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="{% if active_page %}active{% endif %}"><a href="{% url 'customer_list' %}">Active <span class="badge">{{ active_count }}</span></a></li>
                        <li role="presentation" class="{% if inactive_page %}active{% endif %}"><a href="{% url 'customer_list_inactive' %}">Inactive <span class="badge">{{ inactive_count }}</span></a></li>
                        <li role="presentation" class="{% if register_page %}active{% endif %}"><a href="{% url 'customer_create' %}">Register a New Customer</a></li>
                        <li role="presentation"><a href="{% url 'customer_data_export' %}">Export Data</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block customer_list_content %}
    {% endblock %}
{% endblock content %}

{% block scripts %}
<script>
    $(function(){
        $('#customer_list').DataTable({
            'info':false,
            'paging':false,
        });
    })
</script>
{% endblock %}