{% extends 'concierge/customer_base.html' %}
{% load map_tags %}
{% load billing_tags %}
{% block customer_content %}

    <div class="row">
        <div class="col-sm-8">
            {% if not customer.intro_call %}
                <p class="alert alert-warning">
                    <strong>Intro call needed</strong>
                </p>
            {% endif %}
            <table class="table">
                <tbody>
                    {% if customer.known_as %}
                        <tr>
                            <td>Known as</td>
                            <td>"{{ customer.known_as }}"</td>
                        </tr>
                    {% endif %}
                    {% if customer.dob %}
                        <tr>
                            <td>Age</td>
                            <td>
                                {{ customer.age }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if customer.notes %}
                        <tr>
                            <td>Notes</td>
                            <td>{{ customer.notes }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Home address</td>
                        <td>
                            {{ customer.home.street1 }}<br>
                            {% if customer.home.street2 %}
                                {{ customer.home.street2 }}<br>
                            {% endif %}
                            {{ customer.home.city }},
                            {{ customer.home.state }}
                            {{ customer.home.zip_code }}
                        </td>
                    {% if customer.residence_type %}
                    <tr>
                        <td>Residence Type
                        <td>
                            {{ customer.get_residence_type_display }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if customer.special_assistance %}
                        <tr class="warning">
                            <td>Special assistance</td>
                            <td>{{ customer.special_assistance }}</td>
                        </tr>
                    {% endif %}
                    {% if customer.residence_instructions %}
                    <tr>
                        <td>Residence instructions</td>
                        <td>
                            <p>{{ customer.residence_instructions }}</p>
                        </td>
                    </tr>
                    {% endif %}
                    {% if customer.home_phone %}
                    <tr>
                        <td>Home phone</td>
                        <td>{{ customer.home_phone }}
                            (H){% if customer.preferred_phone == 'h' %}
                            <i class="fa fa-check text-success"></i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if customer.mobile_phone %}
                    <tr>
                        <td>Mobile phone</td>
                        <td>
                            {{ customer.mobile_phone }} (M){% if customer.preferred_phone == 'm' %} <i class="fa fa-check text-success"></i> {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
                        </td>
                    </tr>
                    {% if customer.user.profile.on_behalf %}
                    <tr>
                        <td>Account managed by</td>
                        <td>{{ customer.user }} {% if customer.user.profile.relationship %}({{ customer.user.profile.relationship }}){% endif %}
                            <br><a href="mailto:{{ customer.user.email }}">{{ customer.user.email }}</a>
                            {% if customer.user.profile.phone %}
                                <br>{{ customer.user.profile.phone }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if riders %}
                        <tr>
                            <td>Riders</td>
                            <td>
                                {% for rider in riders %}
                                    <a href="#rider_modal_{{ rider.id }}" data-toggle="modal">{{ rider.first_name }} {{ rider.last_name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if lovedones %}
                        <tr>
                            <td>Loved ones</td>
                            <td>{% for lovedone in lovedones %}
                                <a href="#lovedone_modal_{{ rider.id }}" data-toggle="modal">{{ lovedone }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Subscription billed to</td>
                        <td>
                            {% if customer.subscription_account %}
                                <i class="fa fa-credit-card"></i> {{ customer.subscription_account.last_4_digits|cc_display }} <a href="{% url 'payment_subscription_account_edit' customer.id %}">Edit</a>
                                {% if customer.subscription_account.stripe_id %}
                                    <br>
                                    <i class="fa fa-cc-stripe stripe-brand"></i>
                                    <a href="https://dashboard.stripe.com/customers/{{ customer.subscription_account.stripe_id }}" target="_blank">{{ customer.subscription_account.stripe_id }}</a>
                                    <i class="fa fa-sm text-muted fa-external-link"></i>
                                {% endif %}
                            {% else %}
                                <strong class="text-danger">None</strong> <a href="{% url 'payment_subscription_account_edit' customer.id %}">Add a payment method</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Rides billed to</td>
                        <td>
                            {% if customer.ride_account %}
                                <i class="fa fa-credit-card"></i> {{ customer.ride_account.last_4_digits|cc_display }} <a href="{% url 'payment_ride_account_edit' customer.id %}">Edit</a>
                                {% if customer.ride_account.stripe_id %}
                                    <br>
                                    <i class="fa fa-cc-stripe stripe-brand"></i>
                                    <a href="https://dashboard.stripe.com/customers/{{ customer.ride_account.stripe_id }}" target="_blank">{{ customer.ride_account.stripe_id }}</a>
                                    <i class="fa fa-sm text-muted fa-external-link"></i>
                                {% endif %}
                            {% else %}
                                <strong class="text-danger">None</strong> <a href="{% url 'payment_ride_account_edit' customer.id %}">Add a payment method</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if customer.preferred_service %}
                        <tr>
                            <td>Preferred service</td>
                            <td>{{ customer.preferred_service }}</td>
                        </tr>
                    {% endif %}
                    {% if customer.user.profile.source %}
                        <tr>
                            <td>Marketing source</td>
                            <td>{{ customer.user.profile.source }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <p>
                <a href="{% url 'ride_start' customer.id %}" class="btn btn-success btn-block btn-lg{% if not customer.ready_to_ride %} disabled{% endif %}">
                    Start a New Ride
                </a>
            </p>
            <p>
                <a href="{% url 'customer_activity_add' customer.id %}" class="btn btn-secondary btn-block">
                    Enter Activity
                </a>
            </p>
            {% if not customer.ready_to_ride %}
                <p class="alert alert-danger">
                {% for missing in customer.missing %}
                    {{ missing }}{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
{% if not customer.destinations %}
    <p class="alert alert-warning">No destinations entered for this customer! <a href="{% url 'customer_destination_add' customer.id %}">Add one now</a></p>
{% endif %}
{% if lovedones %}
    {% for lovedone in lovedones %}
        <div id="lovedone_modal_{{ rider.id }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ lovedone }}
                        {% if lovedone.email %}<br><a href="mailto:{{ lovedone.email }}">{{ lovedone.email }}</a>{% endif %}
                        {% if lovedone.home_phone %}<br>H: {{ lovedone.home_phone }}{% endif %}
                        {% if lovedone.mobile_phone %}<br>H: {{ lovedone.mobile_phone }}{% endif %}
                        {% if lovedone.street1 %}<br>H: {{ lovedone.street1 }}{% endif %}
                        {% if lovedone.street2 %}<br>H: {{ lovedone.street2 }}{% endif %}
                        <br>{% if lovedone.city %}{{ lovedone.city }}, {% endif %}{% if lovedone.state %}{{ lovedone.state }}{% endif %}{% if lovedone.zip_code %}{{ lovedone.zip_code }}{% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if riders %}
    {% for rider in riders %}
        <div id="rider_modal_{{ rider.id }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ rider.first_name }} {{ rider.last_name }}
                        {% if rider.email %}<br>{{ rider.email }}{% endif %}
                        {% if rider.mobile_phone %}<br>{{ rider.mobile_phone }}{% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}