{% extends 'base_app.html' %}
{% block title %}Dashboard{% endblock title %}
{% block header_includes %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables-imports.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}DataTables/datatables.min.js"></script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Concierge Dashboard</h1>
</div>
<form id="customer_search" action="" method="POST">{% csrf_token %}
    <input type="hidden" id="customer_id" name="customer_id" value=""/>
    <div class="input-group input-group-lg">
        <input id="customer_id" class="typeahead form-control input-lg" type="text" placeholder="Search by Name or Phone" autofocus>
        <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" value="GO" />
        </span>
    </div>
</form>
{% if to_contact %}
<h3>Customers to Contact</h3>
<div class="table-responsive">
    <table id="to_contact" class="table table-striped">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Account</th>
                <th>Phone</th>
                <th>Plan</th>
                <th>Signup Date</th>
                <th>Signup Date</th>
                <th>Gift Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in to_contact %}
                <tr>
                    <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.full_name }}</a></td>
                    <td>{{ customer.user.full_name }}{% if customer.user.profile.relationship %} ({{ customer.user.profile.relationship }}){% endif %}</td>
                    <td>{% if customer.home_phone %}
                            {% if customer.preferred_phone == 'h' %}<strong>{% endif %}
                                {{ customer.home_phone }} (H){% if customer.preferred_phone == 'h' %}</strong>{% endif %}<br>
                        {% endif %}
                        {% if customer.mobile_phone %}
                            {% if customer.preferred_phone == 'm' %}<strong>{% endif %}
                            {{ customer.mobile_phone }} (M){% if customer.preferred_phone == 'm' %}</strong>{% endif %}<br>
                        {% endif %}
                    </td>
                    <td><span class="label plan-label {{ customer.plan.name|lower|default:'none' }}">{{ customer.plan|default:'No ' }} Plan</span></td>
                    <td>{{ customer.user.date_joined|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ customer.user.date_joined|date:"U" }}</td>
                    <td>{{ customer.gift_date|date:"SHORT_DATE_FORMAT"|default:'' }}{% if customer.gift_date == today %} <span class="label label-success">Today!</span>{% endif %}</td>
                    <td><a href="{% url 'customer_update' customer.id %}" class="btn btn-sm btn-default">edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock content %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/typeahead.bundle.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/customer_search.min.js"></script>
<script>
    $(function(){
        $('#to_contact').DataTable({
            'info':false,
            'paging':false,
            'filter':false,
            'order':[[4, 'asc']],
            'columnDefs': [
                {'orderData':[5], 'targets': [4] },
                {
                    'targets': [5],
                    'visible': false,
                    'searchable': false
                },
            ],
        });
    })
</script>
{% endblock scripts %}