{% extends 'base_app.html' %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>Concierge Dashboard</h1>
</div>
<div class="form-group">
    <input id="customer_search" class="form-control input-lg" type="text" placeholder="Search by name or phone number">
</div>
{% endblock content %}
{% block scripts %}
<script>
$("#customer_search").select2({
  ajax: {
    url: "{% url 'customer_search_data' %}",
    dataType: 'json',
    delay: 250,
    data: function (params) {
      return {
        q: params.term, // search term
        page: params.page
      };
    },
    processResults: function (data, params) {
      // parse the results into the format expected by Select2
      // since we are using custom formatting functions we do not need to
      // alter the remote JSON data, except to indicate that infinite
      // scrolling can be used
      params.page = params.page || 1;

      return {
        results: data.items,
        pagination: {
          more: (params.page * 30) < data.total_count
        }
      };
    },
    cache: true
  },
  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
  minimumInputLength: 1,
});
</script>
{% endblock scripts %}