{% extends 'base_app.html' %}
{% load billing_tags %}
{% block title %}{{ group.display_name }} Group Memberships{% endblock %}
{% block header_includes %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables-imports.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}DataTables/datatables.min.js"></script>
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'group_membership_list' %}">Groups</a></li>
        <li class="active">{{ group.display_name }}</li>
    </ol>
    <div class="page-header">
        <div class="row">
            <div class="col-sm-8">
                <h1>{{ group.display_name }}</h1>
            </div>
            <div class="col-sm-4 text-right" style="padding-top:22px;">
                <a href="{% url 'group_membership_edit' group.id %}" class="btn btn-default"><i class="fa fa-edit"></i> Edit Group</a>
                <a href="{% url 'group_membership_add_customer' group.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> Add Group Member</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3 class="pull-left m-t-0">Group Information</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th width="30%">Address:</th>
                        <td width="70%">{{ group.address.street1 }}<br>
                            {% if group.address.street2 %}
                                {{ group.address.street2 }}<br>
                            {% endif %}
                            {{ group.address.city }},
                            {{ group.address.state }}
                            {{ group.address.zip_code }}
                        </td>
                    </tr>
                    {% if group.address.notes %}
                        <th>Location Notes:</th>
                        <td>{{ group.address.notes }}</td>
                    {% endif %}
                    <tr>
                        <th>Location Phone:</th>
                        <td>{{ group.phone }}</td>
                    </tr>
                    <tr>
                        <th>Customer Since:</th>
                        <td>{{ group.user.date_joined|date:"DATE_FORMAT" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h3 class="m-t-0">Contact Information</h3>
            <table class="table table-striped">
                <tr>
                    <th width="30%">Admin:</th>
                    <td width="70%">{{ group.user }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ group.user.email }}</td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>{{ group.user.profile.phone }}</td>
                </tr>
            </table>
            <h3>Payment Information</h3>
            <table class="table table-striped">
                <tbody>
                    {% if group.subscription_account %}
                        <tr>
                            <th>Subscription billed to</th>
                            <td>
                                {{ group.subscription_account }}<br>
                                <i class="fa fa-credit-card"></i> {{ group.subscription_account.last_4_digits|cc_display }}
                                 <a href="{% url 'group_payment_subscription_account_edit' group.id %}">Edit</a>
                                {% if group.subscription_account.stripe_id %}
                                    <br>
                                    <i class="fa fa-cc-stripe stripe-brand"></i>
                                    <a href="https://dashboard.stripe.com/customers/{{ group.subscription_account.stripe_id }}" target="_blank">{{ group.subscription_account.stripe_id }}</a>
                                    <i class="fa fa-sm text-muted fa-external-link"></i>
                                {% endif %}

                            </td>
                        </tr>
                    {% endif %}
                    {% if subscription %}
                        <tr>
                            <td>Subscription renews on</td>
                            <td>
                                {{ subscription.current_period_end|from_timestamp|date:"DATE_FORMAT" }}</td>
                            </td>
                        </tr>
                    {% endif %}
                    {% if group.ride_account %}
                        <tr>
                            <th>Rides billed to</th>
                            <td>
                                {{ group.ride_account }}<br>
                                <i class="fa fa-credit-card"></i> {{ group.ride_account.last_4_digits|cc_display }}
                                <a href="{% url 'group_payment_ride_account_edit' group.id %}">Edit</a>
                                {% if group.ride_account.stripe_id %}
                                    <br>
                                    <i class="fa fa-cc-stripe stripe-brand"></i>
                                    <a href="https://dashboard.stripe.com/customers/{{ group.ride_account.stripe_id }}" target="_blank">{{ group.ride_account.stripe_id }}</a>
                                    <i class="fa fa-sm text-muted fa-external-link"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <h2>Riders</h2>
    <div class="table-responsive">
    <table id="customer_list" class="table" style="width:100%;">
        <thead>
            <th>Name</th>
            <th>Phone</th>
            <th>Rides</th>
            <th>Last ride</th>
            <th>Notes</th>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.full_name }}</a></td>
                <td>{{ customer.phone_numbers_br|safe }}</td>
                <td>{{ customer.ride_count }}</td>
                <td>{{ customer.last_ride }}</td>
                <td class="small">{{ customer.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(function(){
        $('#customer_list').DataTable({
            "autoWidth": false,
            "pageLength": 50,
            "columns": [
                {
                    width: "15%"
                },{
                    width: "15%",
                    searchable: false
                 },{
                    width: "10%",
                    searchable: false
                 },{
                    width: "30%",
                    searchable: false
                 },{
                    width: "30%",
                    searchable: false
                 },
            ]
        });
    });
</script>
{% endblock %}
