{% extends "registration/registration_base.html" %}
{% load custom_tags %}

{% block title %}Concierge Login{% endblock %}
{% block content %}

<form method="post" action="{% url 'concierge_login' %}" class="form-login add-control">
    {% csrf_token %}
    <h2>Concierge Login</h2>
    {% if form.non_field_errors %}
        <p class="alert alert-danger"><i class="fa fa-warning"></i> Oops! Looks like your username/password combination is wrong</p>
    {% endif %}
    {% for field in form %}
        {% render_form_field field %}
    {% endfor %}
    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'dashboard' %}{% endif %}" />
    <div class="form-actions">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
</form>
<p><a href="{% url 'auth_password_reset' %}">Forgot your password?</a></p>

{% endblock %}
