{% extends 'concierge/customer_base.html' %}
{% load tz %}
{% load custom_tags %}
{% load map_tags %}
{% block title %}{{ customer }}{% endblock title %}
{% block customer_content %}

<h3>Ride ID: {{ ride.id }}</h3>
{% if ride.cancelled %}
    <span class="label label-danger">DELETED</span>
    {% if ride.cancelled_reason %}
        <div class="alert alert-danger">
            {{ ride.cancelled_reason }}
        </div>
    {% endif %}
{% endif %}
<form action="" class="form" method="POST" novalidate>{% csrf_token %}
    {% if errors %}
        <p class="alert alert-danger">
            {% if error_count == 1 %}
                Please correct the error below.
            {% else %}
                Please correct the errors below.
            {% endif %}
        </p>
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            {% render_form_field form.start %}
            <div class="form-group">
                <label>Start address</label>
                <div class="input-group">
                    <input id="starting_point" readonly class="form-control monospace" value="{{ ride.start.fulladdress }}">
                    <span class="input-group-btn" data-toggle="tooltip" title="Copied!">
                        <button type="button" class="btn btn-default copybtn" data-clipboard-target="#starting_point">
                            copy
                        </button>
                    </span>
                </div>
                {% if form.start.errors %}
                    {{ form.start.errors }}
                {% endif %}
            </div>
            {% if ride.start.notes %}
                <div class="form-group">
                    <label>Starting point notes</label>
                    {% if ride.start.home %}
                        <span class="help-block">({{ customer.get_residence_type_display }})</span>
                    {% endif %}
                    <textarea id="starting_point_notes" class="form-control monospace">{{ ride.start.notes }}</textarea>
                </div>
            {% endif %}
                <div class="form-group datetime-start">
                    <label>Start time<span class="req">*</span></label>
                    {% if ride.start.timezone %}
                        {% timezone ride.start.timezone %}
                            <span class="help-block">(Local time for starting point)</span>
                            <input class="form-control" type="text" value="{{ ride.start_date|date:'m/d/Y g:i A' }}">
                            {{ form.start_date.as_hidden }}
                        {% endtimezone %}
                    {% else %}
                        <input class="form-control" type="text" value="{{ ride.start_date|date:'m/d/Y g:i A' }}">
                        {{ form.start_date.as_hidden }}
                    {% endif %}
                    {% if form.start_date.errors %}
                        {{ form.start_date.errors }}
                    {% endif %}
                </div>
            {% render_form_field form.customer %}
            {% render_form_field form.cost %}
            {% render_form_field form.fees %}
            {% render_form_field form.notes %}
            {% render_form_field form.complete %}
            {% render_form_field form.included_in_plan %}
        </div>
        <div class="col-sm-6">
            {% render_form_field form.destination %}
            <div class="form-group">
                <label>Destination address</label>
                <div class="input-group">
                    <input id="destination" class="form-control monospace" value="{{ ride.destination.fulladdress }}">
                    <span class="input-group-btn" data-toggle="tooltip" title="Copied!">
                        <button type="button" class="btn btn-default copybtn" data-clipboard-target="#destination">
                            copy
                        </button>
                    </span>
                </div>
                {% if form.destination.errors %}
                    {{ form.destination.errors }}
                {% endif %}
            </div>
            {% if ride.destination.notes %}
                <div class="form-group has-info">
                    <label>Destination notes</label>
                    <div class="input-group">
                        <input id="destination_notes" class="form-control monospace" value="{{ ride.destination.notes }}">
                        <span class="input-group-btn" data-toggle="tooltip" title="Copied!">
                            <button type="button" class="btn btn-default copybtn" data-clipboard-target="#destination_notes">
                                copy
                            </button>
                        </span>
                    </div>
                </div>
            {% endif %}
            {{ form.end_date.as_hidden }}
            {% render_form_field form.rider %}
            {% render_form_field form.distance %}
            {% render_form_field form.fare_estimate %}
            {% render_form_field form.company %}
            <div class="ride-notes">
                {% if customer.send_updates %}
                    <p class="alert alert-info"><i class="fa fa-fw fa-commenting"></i> Please send text updates to {% if customer.mobile_phone %}<strong>{{ customer.mobile_phone }}</strong>{% else %}[<em>no mobile phone entered!</em>]{% endif %}</p>
                {% endif %}
                {% if customer.preferred_service %}
                    <p class="alert alert-info"><i class="fa fa-fw fa-car"></i> Preferred service: <strong>{{ customer.preferred_service }}</strong></p>
                {% endif %}
                {% if customer.notes %}
                    <p class="alert alert-default"><i class="fa fa-sticky-note-o fa-fw"></i> {{ customer.notes }}</p>
                {% endif %}
                {% if customer.special_assistance %}
                    <p class="alert alert-warning"><i class="fa fa-plus-square fa-fw"></i> {{ customer.special_assistance }}</p>
                {% endif %}
                {% if ride.start.home %}
                    <p class="alert alert-info">
                        <i class="fa fa-home fa-fw"></i>
                        {% if customer.residence_type %}
                            <small>({{ customer.get_residence_type_display }})</small><br>
                        {% endif %}
                        {{ ride.start.notes }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-actions">
        <p><input type="submit" class="btn btn-primary btn-block" value="Save Ride" /></p>
        {% if not ride.cancelled %}
            <p class="text-center">
                <a href="" data-target="#cancelRideModal" data-toggle="modal" class="text-danger cancel-ride">Delete Ride</a>
            </p>
        {% endif %}
    </div>
</form>

<div class="modal fade" id="cancelRideModal" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" action="{% url 'ride_cancel' %}">{% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        {{ cancel_form.ride_id.as_hidden }}
                        {{ cancel_form.next_url.as_hidden }}
                        {% render_form_field cancel_form.cancel_reason %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
                        <input type="submit" class="btn btn-danger" value="Delete Ride" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/clipboard.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/select2.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/ride_edit.js"></script>
{% endblock %}