{% extends 'rides/ride_base.html' %}
{% load humanize %}

{% block header_includes %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables-imports.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}DataTables/datatables.min.js"></script>
{% endblock %}

{% block title %}Ride History{% endblock title %}
{% block page_title %}Ride History{% endblock page_title %}

{% block rides_content %}
<div class="table-responsive">
    <table id="rides_history" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Start Time</th>
                <th>From</th>
                <th>To</th>
                <th>Included</th>
                <th>Distance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="modal fade" id="viewRideModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock rides_content %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/apps/view_ride_modal.min.js"></script>
<script>
    $(function(){
        function generateButtons(data) {
            var endButtonText = data.complete ? 'Delete' : 'Cancel';
            return '<a href="#viewRideModal" data-rideID="' +
                    data.id +
                   '" data-toggle="modal" class="btn btn-primary btn-sm">View</a> ' +
                   '<a href="/concierge/ride/' +
                   data.id +
                   '/edit/" class="btn btn-default btn-sm">Edit</a> ' +
                   '<a href="/concierge/ride/' +
                   data.id +
                   '/delete/" class="btn btn-danger btn-sm cancel-ride">' +
                   endButtonText +
                   '</a>';
        }
        $('#rides_history').DataTable({
            autoWidth: false,
            serverSide: true,
            ajax: {
                url: '{% url "ride-list" %}'
            },
            columns: [
                { data: 'id' },
                { data: 'customer',
                  render: function(data, type, full, meta){
                    var rider = full.rider && full.rider !== data ? '<br /><strong>Rider:</strong> ' + full.rider : '';
                    return '<a href="/concierge/customers/' + full.customer_id + '">' + data + '</a>' + rider
                  } },
                { data: 'start_date' },
                { data: 'start',
                  orderable: false,
                  render: function(data, type, full){
                    if(full.start){
                        return data.fullname + '<small class="subtext">' + data.fulladdress + '</small>'
                    }else {
                        return '--';
                    }
                  }
                },
                { data: 'destination',
                  orderable: false,
                  render: function(data, type, full){
                    if(full.destination){
                        return data.fullname + '<small class="subtext">' + data.fulladdress + '</small>'
                    }else {
                        return '--';
                    }
                  }
                },
                { data: 'included_in_plan',
                  render: function(data) {
                    return data == true ? '<i class="fa fa-check text-success"></i>' : ''
                  }
                },
                { data: 'distance',
                  render: function (data) {
                    return parseFloat(data).toFixed(2) + ' mi';
                  }
                },
                { data: null,
                  orderable: false,
                  render: function(data) {
                        return generateButtons(data);
                  }
                }

            ]
        });
    })
</script>
{% endblock scripts %}
