{% extends 'concierge/customer_base.html' %}
{% load custom_tags %}
{% load map_tags %}
{% block title %}{{ customer }}{% endblock title %}
{% block customer_content %}
{% if to_from_home %}
    <div class="well well-sm">
        Residence Type: {{ customer.get_residence_type_display }}<br>
        Residence Instructions: {{ customer.residence_instructions|default:'None' }}
    </div>
{% endif %}
<h3>Ride ID: {{ ride.id }}</h3>
<form action="" class="form" method="POST" novalidate>{% csrf_token %}
    {% if errors %}
        <p class="alert alert-danger">
            {% if error_count == 1 %}
                Please correct the error below.
            {% else %}
                Please correct the errors below.
            {% endif %}
        </p>
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            {% render_form_field form.start %}
            <div class="form-group">
                <label>Start address</label>
                <div class="input-group">
                    <input id="starting_point" readonly class="form-control monospace" value="{{ ride.start.fulladdress }}">
                    <span class="input-group-btn" data-toggle="tooltip" title="Copied!">
                        <button type="button" class="btn btn-default copybtn" data-clipboard-target="#starting_point">
                            copy
                        </button>
                    </span>
                </div>
                {% if form.start.errors %}
                    {{ form.start.errors }}
                {% endif %}
            </div>
            {% if ride.start.notes %}
                <div class="form-group">
                    <label>Starting point notes</label>
                    <div class="input-group">
                        <input id="starting_point_notes" class="form-control monospace" value="{{ ride.start.notes }}">
                        <span class="input-group-btn" data-toggle="tooltip" title="Copied!">
                            <button type="button" class="btn btn-default copybtn" data-clipboard-target="#starting_point_notes">
                                copy
                            </button>
                        </span>
                    </div>
                </div>
            {% endif %}
            <div class="form-group datetime-start">
                <label>Start date<span class="req">*</span></label>
                <input class="form-control" type="text" value="{{ ride.start_date|date:'m/d/Y g:i A' }}">
                {% if form.start_date.errors %}
                    {{ form.start_date.errors }}
                {% endif %}
            </div>
            {{ form.start_date.as_hidden }}
            {% render_form_field form.cost %}
            {% render_form_field form.customer %}
            {% render_form_field form.notes %}
            {% render_form_field form.complete %}
            {% render_form_field form.included_in_plan %}
        </div>
        <div class="col-sm-6">
            {% render_form_field form.destination %}
            <div class="form-group">
                <label>Destination address</label>
                <div class="input-group">
                    <input id="destination" class="form-control monospace" value="{{ ride.destination.fulladdress }}">
                    <span class="input-group-btn" data-toggle="tooltip" title="Copied!">
                        <button type="button" class="btn btn-default copybtn" data-clipboard-target="#destination">
                            copy
                        </button>
                    </span>
                </div>
                {% if form.destination.errors %}
                    {{ form.destination.errors }}
                {% endif %}
            </div>
            {% if ride.destination.notes %}
                <div class="form-group has-info">
                    <label>Destination notes</label>
                    <div class="input-group">
                        <input id="destination_notes" class="form-control monospace" value="{{ ride.destination.notes }}">
                        <span class="input-group-btn" data-toggle="tooltip" title="Copied!">
                            <button type="button" class="btn btn-default copybtn" data-clipboard-target="#destination_notes">
                                copy
                            </button>
                        </span>
                    </div>
                </div>
            {% endif %}
            {{ form.end_date.as_hidden }}
            {% render_form_field form.distance %}
            {% render_form_field form.fare_estimate %}
            <div class="ride-notes">
                {% if customer.send_updates %}
                    <p class="alert alert-info"><i class="fa fa-fw fa-commenting"></i> Please send text updates to {% if customer.mobile_phone %}<strong>{{ customer.mobile_phone }}</strong>{% else %}[<em>no mobile phone entered!</em>]{% endif %}</p>
                {% endif %}
                {% if customer.preferred_service %}
                    <p class="alert alert-info"><i class="fa fa-fw fa-car"></i> Preferred service: <strong>{{ customer.preferred_service }}</strong></p>
                {% endif %}
                {% if customer.notes %}
                    <p class="alert alert-default"><i class="fa fa-comment fa-fw"></i> {{ customer.notes }}</p>
                {% endif %}
                {% if customer.special_assistance %}
                    <p class="alert alert-warning"><i class="fa fa-plus-square fa-fw"></i> {{ customer.special_assistance }}</p>
                {% endif %}
                {% if customer.residence_instructions %}
                    <p class="alert alert-info">
                        <i class="fa fa-home fa-fw"></i>
                        {% if customer.residence_type %}
                            <small>({{ customer.get_residence_type_display }})</small><br>
                        {% endif %}
                        {{ customer.residence_instructions }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-actions">
        <p><input type="submit" class="btn btn-primary btn-block" value="Save Ride" /></p>
        <p class="text-center">
            <a href="{% url 'ride_delete' ride.id %}" class="text-danger">Cancel Ride</a>
        </p>
    </div>

</form>

{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/clipboard.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/select2.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/ride_edit.js"></script>
{% endblock %}