{% extends 'rides/ride_base.html' %}
{% load humanize %}
{% load tz %}

{% block title %}Upcoming Rides{% endblock title %}
{% block page_title %}Upcoming Rides{% endblock page_title %}

{% block rides_content %}
<p>Showing rides scheduled in the next seven days. <span class="highlight highlight-warning">Rides happening today are highlighted.</span></p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th width="10%">Customer</th>
                <th width="20%">Start Time</th>
                <th width="15%">Local Time</th>
                <th>From</th>
                <th>To</th>
                {% if customer.plan.includes_rides %}
                    <th>Included</th>
                {% endif %}
                <th>Distance</th>
                <th>Company</th>
                <th width="200"></th>
            </tr>
        </thead>
        <tbody>
            {% for ride in rides %}
                <tr{% if ride.is_today %} class="warning"{% endif %}>
                    <td>{{ ride.id }}</td>
                    <td>
                        <a href="{% url 'customer_detail' ride.customer.id %}">{{ ride.customer }}</a>
                        {% if ride.rider and ride.rider != ride.customer.full_name %}<br><strong>Rider:</strong> {{ ride.rider }}{% endif %}
                    </td>
                    <td>{{ ride.start_date|date:"SHORT_DATETIME_FORMAT" }}<small class="subtext">{{ ride.start_date|naturaltime }}</small></td>
                    <td>
                        {% timezone ride.start.timezone %}
                            {{ ride.start_date|date:"P (T)" }}
                        {% endtimezone %}
                    </td>
                    <td>
                        {{ ride.start.fullname }}<small class="subtext">{{ ride.start.fulladdress }}</small>
                        {% if ride.start.notes %}
                            <p class="destination-notes">{{ ride.start.notes }}</p>
                        {% endif %}
                    </td>
                    <td>
                        {{ ride.destination.name }}<small class="subtext">{{ ride.destination.fulladdress }}</small>
                        {% if ride.destination.notes %}
                            <p class="destination-notes">{{ ride.destination.notes }}</p>
                        {% endif %}
                    </td>
                    {% if customer.plan.includes_rides %}
                        <td align="center">{% if ride.included_in_plan %}<i class="fa fa-check text-success"></i>{% endif %}</td>
                    {% endif %}
                    <td>{% if ride.distance %}
                            {{ ride.distance }} mi
                        {% endif %}
                    </td>
                    <td>
                        {{ ride.company|default:'' }}
                    </td>
                    <td>
                        <a href="#viewRideModal" data-rideID="{{ ride.id }}" data-toggle="modal" class="btn btn-primary btn-sm">View</a>
                        <a href="{% url 'ride_edit' ride.id %}" class="btn btn-default btn-sm">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="viewRideModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock rides_content %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/apps/view_ride_modal.min.js"></script>
{% endblock scripts %}
