#customer_search {
    .form-control {
        border-top-left-radius: @border-radius-large;
        border-bottom-left-radius: @border-radius-large;
    }
    .input-group-btn {
        vertical-align: top;
    }
}
td, th {
    .static-map {
        max-width:240px;
    }
}
#start_ride_form {
    fieldset {
        padding-top:@line-height-computed;
    }
}
.rides-in-progress {
    .alert;
    .alert-warning;
    h3 {
        margin-top:@line-height-computed/2;
    }
    table {
        margin-bottom:0;
        tr>td {
            vertical-align: middle;
        }
    }
}
.nav > .start-ride-btn > a {
    color:@brand-success;
    &:hover {
        background:@brand-success;
        color:@btn-success-color;
    }
}
.label.plan-label {
    vertical-align:.125em;
    &.bronze {
        .bronze-bg;
    }
    &.silver {
        .silver-bg;
    }
    &.gold {
        .gold-bg;
    }
    &.giftcert {
        background:@brand-success;
    }
}