@import "../DataTables/datatables.min.css";
@import "../DataTables/datatables.fa.min.css";

table.dataTable {
    width: 100% !important;
    thead {
        th.sorting:after {
            opacity:.8;
            color:#ccc;
        }
    }
}