.footer {
    p {
        color:@gray;
        font-size: @font-size-small;
        margin: 0;
        &:first-child {
            margin-top:@line-height-computed;
        }
        a {
            color:@brand-info;
        }
    }
}