.req {
    color: @state-danger-text;
    span& {
        padding-left:2px;
    }
}

.add-control {
    .form-controller();
}

.help-block {
    font-size:@font-size-small;
}

.form-group {
    .errorlist {
        .list-unstyled;
        .alert;
        .alert-danger;
        padding: @alert-padding / 2;
        font-size:@font-size-small;
        border-top-width:0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &.no-label label {
        display: none;
    }
    &.no-help .help-block {
        display:none;
    }
}

.has-error .form-control {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.stacked-fieldset {
    padding:@line-height-computed 0 0;
    margin:@line-height-computed 0;
    border-top:1px solid @gray-lighter;
}

.radio,
.checkbox {
  label {
    padding-top:@padding-base-vertical;
    padding-bottom:@padding-base-vertical;
  }
}
.has-error {
    .radio,
    .checkbox {
        label {
            display:block;
            border-style:solid;
            border-color: @state-danger-text;
            border-width:1px 1px 0 1px;
            border-top-left-radius:@border-radius-base;
            border-top-right-radius:@border-radius-base;
        }
    }
}

fieldset.destination + fieldset.destination,
fieldset.lovedone + fieldset.lovedone,
fieldset.rider + fieldset.rider {
    .stacked-fieldset;
}

fieldset + fieldset {
    legend {
        padding-top:@line-height-computed;
    }
}

label {
    font-weight:600;
}

label + .radio {
    margin-top:0;
}

form.form-login {
    .form-actions {
        padding-top:0;
        border-top:none;
    }
}

.address-inline {
    @media screen and (min-width: @screen-md-min) {
        .form-group {
            margin-right:5%;
            float:left;
            width: 40%;
            &.state {
                width:25%;
            }
            &.zip {
                width:25%;
                margin-right:0;
            }
        }
    }
    + .form-group {
        margin-top:@line-height-computed;
    }
}

.cc-inline {
    .clearfix;
    @media screen and (min-width: @screen-md-min) {
        .form-group {
            margin-right:5%;
            float:left;
            width: 70%;
            &.cvv {
                width:25%;
                margin-right:0;
            }
        }
    }
    + .form-group {
        margin-top:@line-height-computed;
    }
}

.expiry-inline {
    .clearfix;
    label {
        display:block;
    }
    select {
        margin-right:5%;
        float:left;
        width: 30%;

    }
    + .form-group {
        margin-top:@line-height-computed;
    }
}

#add_card + .form-group {
    margin-top:@line-height-computed;
}

.plan-buttons {
    label {
        .btn;
        .btn-default;
        .btn-block;
        text-align:left;
        h4, h5 {
            margin-top: (@line-height-computed / 4);
            margin-bottom: (@line-height-computed / 4);
        }
        p, ul {
            margin-bottom: (@line-height-computed / 4);
        }
        ul {
            .list-unstyled;
        }
        input[type="radio"],
        input[type="checkbox"] {
            position: absolute;
            clip: rect(0,0,0,0);
            pointer-events: none;
        }
        &.active,
        &.active:hover,
        &.active:focus {
            .btn-primary;
            &, small{
                color:@btn-primary-color;
            }
        }
    }
    margin-bottom: @line-height-computed;
}
.selected-plan {
    border:1px solid @input-border;
    padding:@padding-base-vertical + @line-height-computed/2;
    border-radius: @border-radius-base;
    .fa.fa-check {
        color:@brand-success;
    }
    margin-bottom:@line-height-computed;
}