.mobile-menu {
    width:100%;
    margin:0;
    > li {
        display: table-cell;
        width: 1%;
        > a {
            margin-bottom:0;
            text-align:center;
        }
    }
}
.mobile-admin-menu {
    position:fixed;
    bottom:0;
    margin:0 -(@grid-gutter-width / 2);
    width:100%;
    background:@gray-darker;
    > li {
        > a {
            font-size:0;
            i {
                font-size:32px;
            }
        }
    }
}

.form-actions {
    margin-top: @line-height-computed;
    padding:@line-height-computed 0;
    border-top: 1px solid @legend-border-color;
}
.form-controller {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        .form-control;
    }
}
.page-header {
    h1 + h4 {
        margin-top:-@line-height-computed/4;
    }
    .nav {
        margin-top: @line-height-computed;
        @media (min-width: @screen-sm-min) {
            float:right;
        }
        @media (max-width: @screen-xs-max) {
            &.nav-pills {
                text-align: center;
                > li {
                    float:none;
                    display:inline-block;
                }
            }
        }
    }
}

.silver-bg {
    background: #acacac;
    // background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    // background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
    // background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
    // color:@gray-light;
}

.gold-bg {
    background: #f1b82d;
    // background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    // background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    // background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
}

.bronze-bg {
    background: #c19e67;
    // background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
    // background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%);
    // background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 );
}

.copper-bg {
    background: #ad6f69;
}

.m-t-0 {
    margin-top:0;
}
.m-b-15 {
    margin-bottom:15px;
}

.iconic {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.validation-messages {
    .invalid {
        .text-danger;
        font-weight:bold;
    }
    .valid {
        .text-success;
        font-weight:bold;
    }
}

.phone-numbers {
    span {
        .text-muted;
    }
    i {
        .iconic;
        .text-success;
        &:before {
            content:@fa-var-check;
        }
    }
}

.stripe-brand {
    color:@stripe-brand;
}

.alert-default {
    .alert-variant(#f5f5f5; @btn-default-border; @text-color);
}

.alert dl {
    margin-bottom:0;
    dt {
        font-weight:bold;
    }
    dd {
        padding-left:@padding-base-horizontal;
    }
}

.alert + .alert {
    margin-top: -@line-height-computed / 2;
}

.btn.loading {
    position:relative;
    color: rgba(255,255,255,.4);
    &:before {
        .iconic;
        .fa-spin;
        content:@fa-var-spinner;
        position:absolute;
        text-align:center;
        font-size: @font-size-large;
        left:50%;
        margin-left: @font-size-large * -.5;
        line-height: @line-height-computed;
        color:#fff;
    }
}
#plan_charges {
    p {
        .alert;
        display:none;
        &:before {
            .iconic;
            content:@fa-var-info-circle;
            margin-right:5px;
        }
    }
    &.plan1 {
        .bronze {
            .alert-default;
            display:block;
        }
    }
    &.plan2 {
        .silver {
            .alert-default;
            display:block;
        }
    }
    &.plan3 {
        .gold {
            .alert-default;
            display:block;
        }
    }
    &.coupon {
        p.coupon {
            .alert-success;
            display:block;
        }
    }
}
.table-fixed {
    table-layout:fixed;
}
.form-control.monospace {
    font-family:@font-family-monospace;
    background-color:@gray-lighter;
    box-shadow:none;
}
.static-map {
    .error {
        background:@gray-light;
        padding:12px;
        font-size:.9 * @font-size-small;
        text-align:center;
        color:@gray-lighter;
    }
    .portal & .error {
        display:none;
    }
}


