nav.navbar {
    .navbar-default;
    .navbar-static-top;
    .navbar-brand {
        padding-top:@logo-padding-vertical;
        padding-bottom:@logo-padding-vertical;
        img {
            width:120px;
        }
    }
    &.registration {
        .navbar-header {
            text-align:center;
            float:none;
            .navbar-brand {
                float:none;
                display:inline-block;
            }
        }
    }
}