.page-header {
    margin-top:@line-height-computed;
    &.customer {
        margin-top:0;
        padding-bottom: @line-height-computed - 1;
    }
}

.navbar-static-top {
    border-bottom-width:0;
}

.radio label {
    width:100%;
    margin-bottom:5px;
}

input[type="radio"], input[type="checkbox"] {
    margin-top:3px;
}

.label {
    // padding-bottom: 0.1em;
    font-weight:500;
}

.twitter-typeahead {
    width:100%;
    .tt-menu {
        width:100%;
        background:#fff;
        border: 1px solid @input-border;
        padding: @padding-large-vertical 0;
        border-top-width: 0;
    }
    .tt-suggestion {
        line-height:1.8;
        padding: 3px @padding-large-horizontal;
    }
    .tt-hint {
      color: @gray-light;
    }
    .tt-suggestion:hover {
      cursor: pointer;
      color: #fff;
      background-color: @brand-secondary;
    }
    .tt-suggestion.tt-cursor {
      color: #fff;
      background-color: @brand-secondary;

    }
}

h1, h2, h3,
.h1, .h2, .h3 {
    letter-spacing: -0.025em;
}

.btn.btn-block {
    padding-top: @padding-large-vertical;
    padding-bottom: @padding-large-vertical;
}

.btn {
    .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
    font-weight:600;
}
.btn-lg {
  .button-size(@padding-large-vertical * 1.25; @padding-large-horizontal * 1.25; @font-size-large; @line-height-large; @btn-border-radius-large);
}
.btn-sm {
    .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
}
.btn-xs {
    .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
}
.btn.btn-block {
    white-space: normal;
}
.input-group .btn,
.input-group-btn .btn {
    .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
}
.btn-primary {
    .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
}
.btn-secondary {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}
sup {
    top: -0.25em;
}

