html {
    position:relative;
    min-height:100%;
}
body {
    margin-bottom: @footer-height;
    padding-bottom: @line-height-computed * 2;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @footer-height;
    background-color: @footer-bg;
}
