{% extends 'base_app.html' %}
{% load custom_tags %}
{% load map_tags %}
{% block title %}Add a Destination{% endblock title %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'profile' %}">Profile</a></li>
  <li class="active">Add Destination</li>
</ol>
<h3>Add a Destination</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group well well-sm">
            <label>Search for a Destination</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="autocomplete form-control" placeholder="Enter an address" onFocus="geolocate()" type="text" data-prefix=''></input>
            </div>
        </div>
        <form action="" class="form add-destinations" method="POST" novalidate>{% csrf_token %}
            {{ destination_form.non_field_errors }}
            <fieldset class="destination">
                {% render_form_field destination_form.name %}
                {% render_form_field destination_form.nickname %}
                {% render_form_field destination_form.street1 %}
                {% render_form_field destination_form.street2 '', 'no-label' %}
                <div class="address-inline">
                    {% render_form_field destination_form.city %}
                    {% render_form_field destination_form.state '' 'state' %}
                    {% render_form_field destination_form.zip_code '' 'zip zip-mask' %}
                </div>
            </fieldset>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Save Destination" />
            </div>
        </form>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/apps/geocomplete.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}