{% extends 'base_app.html' %}
{% load custom_tags %}

{% block header_includes %}
    {{ block.super }}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE_KEY}}');
    </script>
{% endblock header_includes %}

{% block title %}Arrive Gift Certificate{% endblock %}

{% block navbar %}
    {% include 'fragments/navbar-centered-logo.html' %}
{% endblock navbar %}
{% block messages %}{% endblock messages %}
{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="page-header">
            <h2>Arrive Gift Certificates</h2>
        </div>
        <h3>Yay!</h3>
        <p>You just gave {{ customer.first_name }} ${{ gift.amount }} to use on rides.</p>
        {% if gift.gift_date %}
            <p>We won't display it in {{ customer.first_name}}'s account until {{ gift.gift_date }}.</p>
        {% endif %}
        <p>Please look for a receipt for your gift at {{ gift.email }}</p>.
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}