{% extends 'base_app.html' %}
{% load custom_tags %}

{% block title %}Create an Account{% endblock title %}
{% block content %}
<div class="page-header">
    <h2>Edit Profile</h2>
</div>
<div class="row">
    <div class="col-sm-6">
        <form action="" class="form" method="POST" novalidate>{% csrf_token %}
            {{ form.non_field_errors }}
            {{ customer_form.non_field_errors }}
            {{ home_form.non_field_errors }}
            {{ rider_form.non_field_errors }}
            <fieldset>
                <legend>Primary Rider's Information</legend>
                {% if lovedone %}
                    {% render_form_field customer_form.first_name %}
                    {% render_form_field customer_form.last_name %}
                    {% render_form_field customer_form.email %}
                {% endif %}
                {% if self %}
                    {% render_form_field register_form.first_name %}
                    {% render_form_field register_form.last_name %}
                {% endif %}
                {% render_form_field customer_form.home_phone %}
                {% render_form_field customer_form.mobile_phone %}
                {% render_form_field customer_form.preferred_phone %}
            </fieldset>
            <fieldset>
                <legend>{% if lovedone %}Primary Customer's {% endif %}Home Address</legend>
                {% render_form_field home_form.street1 %}
                {% render_form_field home_form.street2 '' 'no-label' %}
                {% render_form_field home_form.city %}
                {% render_form_field home_form.state %}
                {% render_form_field home_form.zip_code %}
                {% render_form_field customer_form.residence_instructions %}
            </fieldset>
            <fieldset>
                <legend>Secondary Rider's Information</legend>
                <span class="help-block">Must share the same residence.</span>
                {% render_form_field rider_form.first_name %}
                {% render_form_field rider_form.last_name %}
                {% render_form_field rider_form.mobile_phone %}
            </fieldset>

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </form>
    </div>
</div>
{% endblock %}