{% extends 'base_app.html' %}
{% load custom_tags %}
{% load map_tags %}

{% block title %}Create an Account{% endblock title %}
{% block content %}
<div class="page-header">
    <h2>{{ request.user }}'s Profile
    {% if lovedone %}
        <small>Customer: {{ customer }}</small>
    {% endif %}
    </h2>
</div>
<div class="row">
    <div class="col-sm-8">
        <h4>{% if lovedone %}Customer Information{% else %}About You{% endif %} <a href="{% url 'profile_edit' %}" class="btn btn-sm btn-primary">Edit</a></h3>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th width="30%">{% if not lovedone %}Your {% endif %}Name:</th>
                    <td width="70%">{{ customer.first_name }} {{ customer.last_name }}</td>
                </tr>
                <tr>
                    <th>{% if not lovedone %}Your {% endif %}Contact Info:</th>
                    <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a><br>
                        {% if customer.home_phone %}
                            {{ customer.home_phone }} (H)<br>
                        {% endif %}
                        {% if customer.mobile_phone %}
                            {{ customer.mobile_phone }} (M)<br>
                        {% endif %}
                        {% if customer.home_phone and customer.mobile_phone %}
                            <em>You prefer to be called on your {% if customer.preferred_phone == 'h' %}home{% else %}mobile{% endif %} phone.</em>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Customer Since:</th>
                    <td>{{ customer.user.date_joined|date:"DATE_FORMAT" }}</td>
                </tr>
                <tr>
                    <th>{% if not lovedone %}Your {% endif %}Home:</th>
                    <td>{{ customer.home.street1 }}<br>
                        {% if customer.home.street2 %}
                            {{ customer.home.street2 }}<br>
                        {% endif %}
                        {{ customer.home.city }},
                        {{ customer.home.state }}
                        {{ customer.home.zip_code }}
                        <div>{% static_map customer.home %}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% if riders %}
        <div class="col-sm-4">
            <h4>These people are also on {% if lovedone %}{{ customer.first_name }}'s{% else %}your{% endif %} account:</h4>
            <ul>
                {% for rider in riders %}
                <li>{{ rider.first_name }} {{ rider.last_name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

<h4>{% if not lovedone %}Your {% endif %}Destinations <a href="{% url 'destinations_edit' %}" class="btn btn-sm btn-primary">Edit</a></h4>
<table class="table table-striped">
    <tbody>

        {% for destination in customer.destinations %}
            <tr>
                <th width="33%">{{ destination.fullname }}<th>
                <td width="33%">
                    {{ destination.street1 }}<br>
                    {% if destination.street2 %}
                        {{ destination.street2 }}<br>
                    {% endif %}
                    {{ destination.city }},
                    {{ destination.state }}
                    {{ destination.zip_code }}
                </td>
                <td width="33%">{% static_map destination %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if customer.rides %}
    <h4>{% if not lovedone %}Your {% endif %}Rides</h4>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th></th>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}


{% endblock %}