{% extends 'base_app.html' %}
{% load custom_tags %}
{% load map_tags %}
{% load billing_tags %}

{% block title %}Create an Account{% endblock title %}
{% block content %}
<div class="page-header">
    <h2>{{ request.user }}'s Profile
    {% if lovedone %}
        <small>On behalf of {{ customer }}</small>
    {% endif %}
    </h2>
</div>
{% if customer.rides_this_month %}
    <p class="alert alert-info">
        {% if customer.rides_this_month == 1 %}
            You have taken one ride this billing cycle. It was{% if not customer.included_rides_this_month %} not{% endif %} included in your plan.
        {% else %}
            You have taken {{ customer.rides_this_month }} ride{% if customer.rides_this_month != 1%}s{% endif %} this billing cycle, of which
            {{ customer.included_rides_this_month|length }} {% if customer.included_rides_this_month|length == 1 %}was{% else %}were{% endif %}
            included in your plan.
        {% endif %}
    </p>
{% endif %}
<div class="row">
    <div class="col-sm-6">
        <h4 class="pull-left">{% if lovedone %}Customer Information{% else %}About You{% endif %}</h3> <a href="{% url 'profile_edit' %}" class="btn btn-sm btn-primary pull-right">Edit</a>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th width="30%">{% if not lovedone %}Your {% endif %}Name:</th>
                    <td width="70%">{{ customer.first_name }} {{ customer.last_name }}</td>
                </tr>
                <tr>
                    <th>{% if not lovedone %}Your {% endif %}Contact Info:</th>
                    <td>
                        {% if customer.email %}
                            <a href="mailto:{{ customer.email }}">{{ customer.email }}</a><br>
                        {% endif %}
                        {% if customer.home_phone %}
                            {{ customer.home_phone }} (H)<br>
                        {% endif %}
                        {% if customer.mobile_phone %}
                            {{ customer.mobile_phone }} (M)<br>
                        {% endif %}
                        {% if customer.home_phone and customer.mobile_phone %}
                            <em>You prefer to be called on your {% if customer.preferred_phone == 'h' %}home{% else %}mobile{% endif %} phone.</em>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Customer Since:</th>
                    <td>{{ customer.user.date_joined|date:"DATE_FORMAT" }}</td>
                </tr>
                <tr>
                    <th>{% if not lovedone %}Your {% endif %}Home:</th>
                    <td>{{ customer.home.street1 }}<br>
                        {% if customer.home.street2 %}
                            {{ customer.home.street2 }}<br>
                        {% endif %}
                        {{ customer.home.city }},
                        {{ customer.home.state }}
                        {{ customer.home.zip_code }}
                        <div>{% static_map customer.home %}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h4>Payment Information</h4>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Subscription plan</th>
                    <td>{{ customer.plan.display_name }}
                </tr>
                <tr>
                    <th>Subscription renews on</th>
                    <td>{{ subscription.current_period_end|from_timestamp|date:"DATE_FORMAT" }}</td>
                </tr>
                {% if customer.subscription_account and customer.ride_account and customer.subscription_account == customer.ride_account %}
                    <tr>
                        <th>Credit card on file</th>
                        <td><i class="fa fa-credit-card"></i> {{ customer.subscription_account.last_4_digits|cc_display }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="small">
                            This credit card is used to pay for your monthly subscription and the rides you take through Arrive. <a href="{% url 'customer_subscription_account_edit' %}">Change your payment information.</a>
                        </td>
                    </tr>
                {% else %}
                    <tr{% if not customer.subscription_account %} class="warning"{% endif %}>
                        <th>Subscription card</th>
                        <td>{% if customer.subscription_account %}
                                <i class="fa fa-credit-card"></i> {{ customer.subscription_account.last_4_digits|cc_display }}
                            {% else %}
                                <a href="{% url 'register_payment_redirect' %}">Add payment method</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if customer.subscription_account %}
                        <tr>
                            <td colspan="2" class="small">
                                This credit card is used to pay for your monthly subscription. <a href="{% url 'customer_subscription_account_edit' %}">Change your payment information.</a>
                            </td>
                        </tr>
                    {% endif %}
                    <tr{% if not customer.ride_account %} class="warning"{% endif %}>
                        <th>Ride card</th>
                        <td>
                            {% if customer.ride_account %}
                                <i class="fa fa-credit-card"></i> {{ customer.ride_account.last_4_digits|cc_display }}
                            {% else %}
                                <a href="{% url 'register_payment_redirect' %}">Add payment method</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if customer.ride_account %}
                        <tr>
                            <td colspan="2" class="small">
                                This credit card is used to pay for the rides you take through Arrive. <a href="{% url 'customer_ride_account_edit' %}">Change your payment information.</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
        {% if riders %}
            <h4>These people may also use {% if lovedone %}{{ customer.first_name }}'s{% else %}your{% endif %} account:</h4>
            <ul>
                {% for rider in riders %}
                <li>{{ rider.first_name }} {{ rider.last_name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<h3>{% if not lovedone %}Your {% endif %}Destinations</h3>
{% if customer.destinations %}
    <table class="table table-striped">
        <tbody>

            {% for destination in customer.destinations %}
                <tr>
                    <th>{{ destination.fullname }}<th>
                    <td>
                        {{ destination.street1 }}<br>
                        {% if destination.street2 %}
                            {{ destination.street2 }}<br>
                        {% endif %}
                        {{ destination.city }},
                        {{ destination.state }}
                        {{ destination.zip_code }}
                    </td>
                    <td>{% static_map destination %}</td>
                    <td><a href="{% url 'destination_edit' destination.id %}" class="btn btn-default">Edit</a>
                </tr>
            {% endfor %}
            <tr>
                <th>
                    <a href="{% url 'destination_add' %}" class="btn btn-primary">Add a Destination</a>
                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% else %}
<p class="alert alert-warning">You haven't entered any destinations yet!
<a href="{% url 'destination_add' %}">Add one now</a>
</p>
{% endif %}
{% if customer.rides %}
    <h3>{% if not lovedone %}Your {% endif %}Rides</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Started</th>
                <th>Ended</th>
                <th>Distance</th>
                <th>Cost</th>
            </tr>
        <tbody>
            {% for ride in customer.rides %}
            <tr>
                <td>{{ ride.start.display_name }}</td>
                <td>{{ ride.destination.display_name }}</td>
                <td>{{ ride.start_date }}</td>
                <td>{% if ride.end_date %}
                    {{ ride.end_date }}
                    {% else %}
                    <span class="label label-warning">In progress</span>
                    {% endif %}
                </td>
                <td>{% if ride.distance %}
                        {{ ride.distance }} mi
                    {% endif %}
                </td>
                <td>
                    {{ ride.cost }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% endblock %}