{% extends 'base_app.html' %}
{% load custom_tags %}

{% block title %}Create an Account{% endblock title %}
{% block content %}
<div class="page-header">
    <h2>Edit Profile</h2>
</div>
<form action="" class="form" method="POST" novalidate>{% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            {% if errors %}
            <p class="alert alert-danger">
                {% if error|length == 1 %}
                    Please correct the error below.
                {% else %}
                    Please correct the errors below.
                {% endif %}
            </p>
            {% endif %}
            {{ form.non_field_errors }}
            {{ customer_form.non_field_errors }}
            {{ home_form.non_field_errors }}
            {{ rider_form.non_field_errors }}
            <fieldset>
                <legend>Primary Rider's Information</legend>
                {% render_form_field customer_form.first_name %}
                {% render_form_field customer_form.last_name %}
                {% if self %}
                    {% render_form_field user_form.email %}
                {% else %}
                    {% render_form_field customer_form.email %}
                {% endif %}
                {% render_form_field customer_form.home_phone '', 'phone-mask' %}
                {% render_form_field customer_form.mobile_phone '', 'phone-mask' %}
                {% render_form_field customer_form.preferred_phone %}
                {% render_form_field customer_form.send_updates %}
                {% render_form_field customer_form.dob  '' 'date-mask' %}
            </fieldset>
            <fieldset>
                <legend>{% if lovedone %}Primary Customer's {% endif %}Home Address</legend>
                {% render_form_field home_form.street1 %}
                {% render_form_field home_form.street2 '' 'no-label' %}
                <div class="address-inline">
                    {% render_form_field home_form.city %}
                    {% render_form_field home_form.state '' 'state' %}
                    {% render_form_field home_form.zip_code '', 'zip zip-mask' %}
                </div>
                {% render_form_field home_form.notes %}
            </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset>
                <legend>Secondary Rider's Information</legend>
                <span class="help-block">Must share the same residence.</span>
                {% render_form_field rider_form.first_name %}
                {% render_form_field rider_form.last_name %}
                {% render_form_field rider_form.mobile_phone '', 'phone-mask' %}
            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary btn-block" value="Save" />
    </div>
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/apps/registration.min.js"></script>
{% endblock %}