{% extends 'base_app.html' %}
{% load custom_tags %}
{% load map_tags %}

{% if payment_complete and not DEBUG %}
    {% block fb_tracking %}{% include 'fragments/facebook_pixel_code.html' with event='AddPaymentInfo' only %}{% endblock %}
{% endif %}

{% block title %}Create an Account{% endblock title %}
{% block content %}

<div class="page-header">
    <h2>{% if self %}Where do you{% endif %}{% if lovedone %}Where does your loved one{% endif %} go most frequently?</h2>
</div>
{% if errors %}
    <p class="alert alert-danger">
        {% if errors|length == 1 %}
            Please correct the error below.
        {% else %}
            Please correct the errors below.
        {% endif %}
    </p>
{% endif %}
{% if self %}
    <p>A benefit of using Arrive is that we store your favorite destinations for you,
        so it’s easy to order rides. You can call us and say, “I’m going to the hair salon,”
        instead of needing to look up the address every time. If you’re ready, we can go ahead
        and store some destinations for you now. Don’t worry, you can always add more, either
        by logging into your account or by giving us a call.</p>

    <p>Where do you go most frequently?</p>
{% endif %}

{% if lovedone %}
    <p>A benefit of using Arrive is that we store our members’ favorite destinations, so it’s easy
        to order rides. They can call us and say, “I’m going to the hair salon,” instead of needing
        to look up the address every time. If you’re ready, we can go ahead and store some destinations
        for you now. Don’t worry, you can always add more, either by logging into your account or by
        giving us a call. We’ll also collect more destinations from the member during their orientation
        session.</p>

    <p>Where does your loved one go most frequently?</p>
{% endif %}
<div class="row">
    <div class="col-sm-4 col-sm-push-8">
        <h3>{% if self %}Your{% endif %}{% if lovedone %}{{ customer.first_name }}'s{% endif %} Home</h3>
        <p>{{ home.street1 }}<br>
        {% if home.street2 %}
            {{ home.street2 }}<br>
        {% endif %}
        {{ home.city }},
        {{ home.state }}
        {{ home.zip_code }}</p>
        {% static_map home %}
        {% if customer.destinations %}
            <h3>{% if self %}Your{% endif %}{% if lovedone %}{{ customer.first_name }}'s{% endif %} Destinations</h3>
            <ul class="list-group">
                {% for destination in customer.destinations %}
                    <li class="list-group-item">
                        <a href="{% url 'destination_edit' destination.id %}" class="btn btn-default btn-sm pull-right">Edit</a>
                        {{ destination.fullname }}<br>
                        {% if destination.street1 %}
                            {{ destination.street1 }}<br>
                        {% endif %}
                        {% if destination.street2 %}
                        {{ destination.street2 }}<br>
                        {% endif %}
                        {{ destination.city }},
                        {{ destination.state }}
                        {{ destination.zip_code }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-sm-8 col-sm-pull-4">
        <h3>Add a Destination</h3>
        <div class="form-group well well-sm">
            <label>Search for a Destination</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="autocomplete form-control" placeholder="Enter a location" type="text" data-prefix=''></input>
            </div>
        </div>
        <form action="" class="form add-destinations" method="POST" novalidate>{% csrf_token %}
            {{ destination_form.non_field_errors }}
            <fieldset class="destination">
                {% render_form_field destination_form.name %}
                {% render_form_field destination_form.nickname %}
                {% render_form_field destination_form.street1 %}
                {% render_form_field destination_form.street2 '', 'no-label' %}
                <div class="address-inline">
                    {% render_form_field destination_form.city %}
                    {% render_form_field destination_form.state '' 'state' %}
                    {% render_form_field destination_form.zip_code '' 'zip zip-mask' %}
                </div>
            </fieldset>
            <div class="form-actions">
                <div class="row">
                    <div class="col-xs-6">
                        <input type="submit" name="save_add" class="btn btn-success btn-block" value="Save Destination and Add Another" />
                    </div>
                    <div class="col-xs-6">
                        <input type="submit" name="save_done" class="btn btn-primary btn-block" value="Save Destination and Move On" />
                    </div>
                </div>
            </div>
            <p class="text-center"><a class="btn btn-default" href="{{ done_url }}">Done with Destinations</a><br><em>(You can always add more or change them later)</em></p>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/apps/geocomplete.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initAutocomplete" async defer></script>
<script>
    function setGeoLocate() {
        {% if geolocate %}
            geolocate({{ geolocate.latitude }}, {{ geolocate.longitude }});
        {% else %}
            return False;
        {% endif %}
    };
</script>
{% endblock %}