{% extends 'base_app.html' %}
{% load custom_tags %}

{% block header_includes %}
    {{ block.super }}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE_KEY}}');
    </script>
{% endblock header_includes %}

{% block navbar %}
    {% include 'fragments/navbar-centered-logo.html' %}
{% endblock navbar %}

{% block title %}Add Funds for {{ customer }}{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="page-header">
            <h2 class="text-center">Add funds to {% if lovedone %}{{ customer.first_name }}'s{% else %}your{% endif %} Arrive&nbsp;account</h2>
        </div>
        <form action="" id="payment_form" class="form " method="POST" novalidate>{% csrf_token %}
            {% if errors %}
            <p class="alert alert-danger">
                {% if errors|length == 1 %}
                    Please correct the error below.
                {% else %}
                    Please correct the errors below.
                {% endif %}
            </p>
            {% endif %}
            {{ form.non_field_errors }}
            <div id="credit-card-errors"{% if not card_errors %} style="display:none"{% endif %}>
                <div class="alert alert-danger" id="stripe-error-message">{% if card_errors %}{{ card_errors }}{% endif %}</div>
            </div>

            {% render_form_field payment_form.amount %}

            <fieldset id="add_card">
                <legend>Billing Information</legend>
                <div class="cc-inline">
                    <div class="form-group cc-mask">
                        <label for="credit_card_number">Credit card number<span class="req">*</span></label>
                        <input class="form-control" id="credit_card_number" type="text">
                    </div>
                    <div class="form-group cvv">
                        <label for="cvv">CVV<span class="req">*</span></label>
                        <input class="form-control" id="CVV" type="text">
                    </div>
                </div>
                <div class="expiry-inline">
                    <div class="form-group">
                        <label for="expiry_date">Expiry date<span class="req">*</span></label>
                        <select class="form-control" id="expiry_month">
                        {% for month in months %}
                            <option value="{{ month }}"{% if soon.month == month %} selected{% endif %}>{{ month }}</option>
                        {% endfor %}
                        </select>
                        <select class="form-control year" id="expiry_year">
                        {% for year in years %}
                            <option value="{{ year }}"{% if soon.year == year %} selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                {% render_form_field payment_form.first_name %}
                {% render_form_field payment_form.last_name %}
                {% render_form_field payment_form.email %}
                {% render_form_field payment_form.last_4_digits %}
                {% render_form_field payment_form.stripe_token %}
                {% render_form_field payment_form.billing_zip %}

            </fieldset>
            {% if lovedone %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="is_gift" id="id_is_gift" data-toggle="collapse" data-target="#gift_fields">
                        This is a gift
                    </label>
                </div>
                <fieldset id="gift_fields" class="collapse">
                    <legend>Gift Info (optional)</legend>
                    <label>From:</label>
                    <div class="row">
                        <div class="col-md-6">
                            {% render_form_field gift_form.first_name %}
                        </div>
                        <div class="col-md-6">
                            {% render_form_field gift_form.last_name %}
                        </div>
                    </div>
                    {% render_form_field gift_form.relationship %}
                    {% render_form_field gift_form.gift_date '' 'datepicker' %}
                </fieldset>
            {% endif %}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary btn-block" value="Submit" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ STATIC_URL }}js/apps/add_funds_payment.min.js"></script>
    <script src="{{ STATIC_URL }}js/apps/gift_purchase.min.js?v=1"></script>
{% endblock %}