{% extends 'base_app.html' %}
{% load custom_tags %}

{% block title %}Create an Account{% endblock title %}

{% block navbar %}
    {% include 'fragments/navbar-centered-logo.html' %}
{% endblock navbar %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="page-header">
            {% if gift %}
                <h2 class="text-center">Give the Gift of Independence</h2>
            {% else %}
                <h2 class="text-center">Create an Account For {% if self %}Yourself{% else %}a Loved&nbsp;One{% endif %}</h2>
            {% endif %}
        </div>
        <form action="" class="form" method="POST" novalidate>{% csrf_token %}
            {% if errors %}
            <p class="alert alert-danger">
                {% if error_count == 1 %}
                    Please correct the error below.
                {% else %}
                    Please correct the errors below.
                {% endif %}
            </p>
            {% endif %}
            {{ form.non_field_errors }}
            {{ register_form.non_field_errors }}
            {{ customer_form.non_field_errors }}
            {{ home_form.non_field_errors }}
            {{ rider_form.non_field_errors }}
            <fieldset>
                <legend>Primary Rider's Information</legend>
                {% if lovedone %}
                    {% render_form_field customer_form.first_name %}
                    {% render_form_field customer_form.last_name %}
                    {% render_form_field customer_form.known_as %}
                    {% render_form_field customer_form.email %}
                {% endif %}
                {% if self %}
                    {% render_form_field register_form.first_name %}
                    {% render_form_field register_form.last_name %}
                {% endif %}
                {% render_form_field customer_form.home_phone '' 'phone-mask' %}
                {% render_form_field customer_form.mobile_phone '' 'phone-mask' %}
                {% render_form_field customer_form.preferred_phone %}
                {% render_form_field customer_form.dob  '' 'date-mask' %}
            </fieldset>
            <fieldset>
                <legend>Create an Account</legend>
                {% if lovedone %}
                    <p>If you plan to manage this account on behalf of your loved one, please
                        enter <strong>your own</strong> information here. If you're just setting this account up
                        for someone else, please enter <strong>their</strong> information here.</p>
                {% endif %}
                {% render_form_field register_form.email %}
                {% if lovedone %}
                    {% render_form_field register_form.first_name %}
                    {% render_form_field register_form.last_name %}
                    {% render_form_field register_form.relationship %}
                {% endif %}
                {% render_form_field register_form.password1 %}
                {% render_form_field register_form.password2 %}
            </fieldset>
            <fieldset>
                <legend>{% if lovedone %}Primary Customer's {% endif %}Home Address</legend>
                {% render_form_field home_form.street1 %}
                {% render_form_field home_form.street2 '' 'no-label' %}
                <div class="address-inline">
                    {% render_form_field home_form.city %}
                    {% render_form_field home_form.state '' 'state' %}
                    {% render_form_field home_form.zip_code '' 'zip zip-mask' %}
                </div>
                {% render_form_field customer_form.residence_instructions %}
            </fieldset>
            <fieldset>
                <legend>Secondary Rider's Information</legend>
                <span class="help-block">Must share the same residence.</span>
                {% render_form_field rider_form.first_name %}
                {% render_form_field rider_form.last_name %}
                {% render_form_field rider_form.mobile_phone '' 'phone-mask' %}
            </fieldset>
            <fieldset>
                <legend>One More Question</legend>
                {% render_form_field register_form.source %}
                <div id="source_other" style="display:none;">
                    {% render_form_field register_form.source_other %}
                </div>
            </fieldset>

            <div class="form-actions">
                {% render_form_field register_form.accept_tos %}
                <input type="submit" class="btn btn-primary btn-block" value="Create" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/apps/registration.min.js"></script>
{% endblock %}