{% extends 'base_app.html' %}
{% load custom_tags %}

{% block title %}Create an Account{% endblock title %}

{% block navbar %}
    {% include 'fragments/navbar-centered-logo.html' %}
{% endblock navbar %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="page-header">
            {% if gift %}
                <h2 class="text-center">Give the Gift of Spontaneity</h2>
            {% else %}
                <h2 class="text-center">Create an Account For {% if self %}Yourself{% else %}a Loved&nbsp;One{% endif %}</h2>
            {% endif %}
        </div>
        <form action="" class="form" method="POST" novalidate>{% csrf_token %}
            {% if errors %}
            <p class="alert alert-danger">
                {% if error|length == 1 %}
                    Please correct the error below.
                {% else %}
                    Please correct the errors below.
                {% endif %}
                <br />You may need to enter your password again, too.
            </p>
            {% endif %}
            {{ form.non_field_errors }}
            {{ register_form.non_field_errors }}
            {{ customer_form.non_field_errors }}
            {{ home_form.non_field_errors }}
            {{ rider_form.non_field_errors }}
            <fieldset>
                <legend>Primary Rider's Information</legend>
                {% if lovedone %}
                    {% render_form_field customer_form.first_name %}
                    {% render_form_field customer_form.last_name %}
                    {% render_form_field customer_form.known_as %}
                    {% render_form_field customer_form.email %}
                {% endif %}
                {% if self %}
                    {% render_form_field register_form.first_name %}
                    {% render_form_field register_form.last_name %}
                {% endif %}
                <label>Phone number(s)<span class="req">*</span> <span class="note">(must enter at least one)</span></label>
                {% render_form_field customer_form.home_phone '' 'sub-field phone-mask' %}
                {% render_form_field customer_form.mobile_phone '' 'sub-field phone-mask' %}
                {% render_form_field customer_form.preferred_phone %}
                {% render_form_field customer_form.dob  '' 'date-mask' %}
                {% if lovedone or gift %}
                    {% render_form_field customer_form.gift_date '' 'datepicker' %}
                {% endif %}
            </fieldset>
            <fieldset>
                <legend>Create an Account</legend>
                {% if lovedone %}
                    <p>If you plan to manage this account on behalf of your loved one, please
                        enter <strong>your own</strong> information here. If you're just setting this account up
                        for someone else, please enter <strong>their</strong> information here.</p>
                    <div class="checkbox">
                        <label><input id="use_customer_info" type="checkbox"> Use the primary rider's information</label>
                    </div>
                {% endif %}
                {% render_form_field register_form.email %}
                {% if lovedone %}
                    {% render_form_field register_form.first_name %}
                    {% render_form_field register_form.last_name %}
                    {% render_form_field register_form.relationship %}
                    {% render_form_field register_form.phone '' 'phone-mask' %}
                {% endif %}
                <div id="id_reg-password1_container" class="form-group has-feedback-icon{% if errors %} has-error{% endif %}">
                    <label class="control-label" for="id_reg-password1">
                        Create a password<span class="req">*</span>
                    </label>
                    <div class="validation-messages help-block">Passwords must be
                        <span id="pswd_length">at least 8 characters long</span>
                        <div id="pswd_dynamic"></div>
                    </div>
                    <input class="form-control" data-remote="{% url 'password_validate' %}" id="id_reg-password1" name="reg-password1" type="password" required="">
                    <i class="feedback-icon"></i>
                </div>
                <div id="id_reg-password2_container" class="form-group has-feedback-icon{% if errors %} has-error{% endif %}">
                    <label class="control-label" for="id_reg-password2">
                        Please enter the password again<span class="req">*</span>
                    </label>
                    <input class="form-control" data-match="#id_reg-password1" id="id_reg-password2" name="reg-password2" type="password" required="">
                    <i class="feedback-icon"></i>
                    <div id="pswd_match_error"></div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{% if lovedone %}Primary Rider's {% endif %}Home Address</legend>
                {% render_form_field home_form.street1 %}
                {% render_form_field home_form.street2 '' 'no-label' %}
                <div class="address-inline">
                    {% render_form_field home_form.city %}
                    {% render_form_field home_form.state '' 'state' %}
                    {% render_form_field home_form.zip_code '' 'zip zip-mask' %}
                </div>
                {% render_form_field home_form.notes %}
            </fieldset>
            <fieldset>
                <legend>Secondary Rider's Information</legend>
                <span class="help-block">Must share the same residence as the primary rider.</span>
                {% render_form_field rider_form.first_name %}
                {% render_form_field rider_form.last_name %}
                {% render_form_field rider_form.mobile_phone '' 'phone-mask' %}
            </fieldset>
            <fieldset>
                <legend>One More Question</legend>
                {% render_form_field register_form.source %}
                {% render_form_field register_form.source_other %}
            </fieldset>

            <div class="form-actions">
                {% render_form_field register_form.accept_tos %}
                <input type="submit" class="btn btn-primary btn-block" value="Create" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/registration.min.js"></script>
{% endblock %}