{% extends 'rides/billing_base.html' %}
{% block header_includes %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables-imports.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}DataTables/datatables.min.js"></script>
{% endblock %}

{% block title %}Incomplete Rides{% endblock %}
{% block page_title %}Incomplete Rides{% endblock %}

{% block rides_content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cust.</th>
                <th>ID</th>
                <th>From</th>
                <th>To</th>
                <th>Start Time</th>
                <th>Distance</th>
                <th>Cost</th>
                <th>Total</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer,rides in customers.items %}
                <tr class="customer">
                    <th colspan="10">
                        <a href="{% url 'customer_history' customer.id %}">{{ customer }}</a>&nbsp;&nbsp;
                        {% if customer.plan %}
                            <span class="label plan-label {{ customer.plan.name|lower }}">{{ customer.plan }} Plan</span>
                        {% else %}
                            <span class="label label-danger">No Plan Selected</span>
                        {% endif %}
                        <small>ID {{ customer.id }}</small>
                    </th>
                </tr>
                {% for ride in rides %}
                    <tr class="ride">
                        <td></td>
                        <td><a href="{% url 'ride_edit' ride.id %}">{{ ride.id }}</a></td>
                        <td>{{ ride.start.fullname }}</td>
                        <td>{{ ride.destination.fullname }}</td>
                        <td>{{ ride.start_date|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td>{{ ride.distance }} mi</td>
                        <td>{% if ride.cost %}${{ ride.cost }}{% endif %}</td>
                        <td>{% if ride.total_cost_estimate %}${{ ride.total_cost_estimate }}{% endif %}</td>
                        <td class="small">{% if ride.included_in_plan %}(included in plan) {% endif %}{{ ride.notes|default:'' }}</td>
                        <td><a href="{% url 'ride_edit' ride.id %}">Edit</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}