{% extends 'base_app.html' %}
{% load custom_tags %}

{% block content %}
<div class="page-header rides">
    <div class="row">
        <div class="col-sm-6">
            <h1>{% block page_title %}Rides{% endblock %}</h1>
        </div>
        <div class="col-sm-6">
            <div class="clearfix">
                <ul class="nav nav-pills">
                    <li role="presentation" class="{% if upcoming_page %}active{% endif %}"><a href="{% url 'upcoming_rides' %}">Upcoming Rides</a></li>
                    <li role="presentation" class="{% if active_page %}active{% endif %}"><a href="{% url 'active_rides' %}">Active Rides <span class="badge">{{ active_count }}</span></a></li>
                    <li role="presentation" class="{% if history_page %}active{% endif %}"><a href="{% url 'rides_history' %}">History</a></li>
                    <li role="presentation" class="{% if export_page %}active{% endif %}"><a href="{% url 'ride_report' %}">Export Rides</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% block rides_content %}
{% endblock rides_content %}
{% endblock content %}