{% extends 'concierge/customer_base.html' %}
{% load custom_tags %}

{% block customer_content %}
{% if errors %}
    <p class="alert alert-danger">
        Please correct the errors below.
    </p>
{% endif %}
<form id="start_ride_form" action="" class="form" method="POST" novalidate>{% csrf_token %}
    {% if customer.riders.all %}
        <div class="row">
            <div class="col-sm-6">
                {% render_form_field start_ride_form.rider %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            {% render_form_field start_ride_form.start %}
            or
            <span data-toggle="buttons">
                <label class="btn btn-default">
                    <input rel="start" class="fieldset-toggle" name="add-starting-point" type="checkbox" autocomplete="off" value="true"> Add a New Starting Point
                </label>
            </span>
            <fieldset class="add-starting-point" {% if 'start' not in errors %}style="display:none;"{% endif %}>
                <div class="form-group well well-sm">
                    <label>Search for a Destination</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="autocomplete form-control" placeholder="Enter a location" type="text" data-prefix='add_start-'></input>
                    </div>
                </div>
                <div class="destination">
                    {% render_form_field add_starting_point_form.customer %}
                    {% render_form_field add_starting_point_form.name %}
                    {% render_form_field add_starting_point_form.nickname %}
                    {% render_form_field add_starting_point_form.street1 %}
                    {% render_form_field add_starting_point_form.street2 '' 'no-label' %}
                    <div class="address-inline">
                        {% render_form_field add_starting_point_form.city %}
                        {% render_form_field add_starting_point_form.state '' 'state' %}
                        {% render_form_field add_starting_point_form.zip_code '' 'zip' %}
                    </div>
                    {% render_form_field add_starting_point_form.notes %}
                    {% render_form_field add_starting_point_form.included_in_plan %}
                </div>
            </fieldset>
        </div>
        <div class="col-sm-6">
            {% render_form_field start_ride_form.destination %}
            or
            <span data-toggle="buttons">
                <label class="btn btn-default">
                    <input rel="destination" class="fieldset-toggle" name="add-destination" type="checkbox" autocomplete="off" value="true"> Add a New Destination
                </label>
            </span>
            <fieldset class="add-destination" {% if 'destination' not in errors %}style="display:none;"{% endif %}>
                <div class="form-group well well-sm">
                    <label>Search for a Destination</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="autocomplete form-control" placeholder="Enter a location" type="text" data-prefix='add_dest-'></input>
                    </div>
                </div>
                <div class="destination">
                    {% render_form_field add_destination_form.customer %}
                    {% render_form_field add_destination_form.name %}
                    {% render_form_field add_destination_form.nickname %}
                    {% render_form_field add_destination_form.street1 %}
                    {% render_form_field add_destination_form.street2 '', 'no-label' %}
                    <div class="address-inline">
                        {% render_form_field add_destination_form.city %}
                        {% render_form_field add_destination_form.state '' 'state' %}
                        {% render_form_field add_destination_form.zip_code '' 'zip' %}
                    </div>
                    {% render_form_field add_destination_form.notes %}
                </div>
            </fieldset>
        </div>
    </div>
    <div class="form-actions row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-success btn-block"><i class="fa fa-car"></i> Start Ride</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#schedule_ride_modal"><i class="fa fa-clock-o"></i> Schedule Ride</button>
        </div>
    </div>
    <div id="schedule_ride_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Schedule this ride</h4>
                </div>
                <div class="modal-body">
                    <p>Choose the date and time the customer wishes to be picked up, in the <strong>customer's local time</strong>. (Don't do any timezone conversions yourself)</p>
                    <div class="form-group datetime-start">
                        <div class="input">{{ ride.start_date|date:'m/d/Y g:i A' }}</div>
                        {% if start_ride_form.start_date.errors %}
                            {{ start_ride_form.start_date.errors }}
                        {% endif %}
                    </div>
                    {{ start_ride_form.start_date.as_hidden }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" name="schedule" class="btn btn-secondary" value="Schedule ride">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/clipboard.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/select2.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/geocomplete.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/ride.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initAutocomplete" async defer></script>
<script>
    function setGeoLocate() {
        {% if geolocate %}
            geolocate({{ geolocate.latitude }}, {{ geolocate.longitude }});
        {% else %}
            return False;
        {% endif %}
    };
</script>
{% endblock %}
