{% load tz %}
{% load billing_tags %}

{% get_current_timezone as TIME_ZONE %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Ride {{ ride.id }}: {{ ride }}</h4>
</div>
<div class="modal-body">
    {% if ride.cancelled %}
        <span class="label label-danger">DELETED</span>
        {% if ride.cancelled_reason or ride.cancelled_by %}
            <div class="alert alert-danger">
                {{ ride.cancelled_by }}: {{ ride.cancelled_reason }}

            </div>
        {% endif %}
    {% endif %}
    <table class="table table-striped">
        <tbody>
            {% if ride.rider_link %}
                <tr>
                    <th>Rider</th>
                    <td>{{ ride.rider_link }}
                        {% if ride.rider_link.email %}<br>{{ ride.rider_link.email }}{% endif %}
                        {% if ride.rider_link.mobile_phone %}<br>{{ ride.rider_link.mobile_phone }}{% endif %}
                        {% if ride.rider_link.notes %}<br><small>{{ ride.rider_link.notes }}</small>{% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <th>First</th>
                    <td>{{ ride.customer.first_name }}</td>
                </tr>
                <tr>
                    <th>Last</th>
                    <td>{{ ride.customer.last_name }}</td>
                </tr>
            {% endif %}
            {% if ride.customer.send_updates %}
                <tr>
                    <th>Send Text Updates To</th>
                    <td>
                        {% if ride.customer.mobile_phone %}{{ ride.customer.mobile_phone }}{% else %}<em>no mobile phone entered</em>{% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if ride.added_by %}
                <tr>
                    <th>Scheduled By</th>
                    <td>{{ ride.added_by }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Pickup</th>
                <td>{{ ride.start.fullname }}<br><small class="subtext">{{ ride.start.fulladdress }}</small>
                    {% if ride.start.notes %}
                        <p class="destination-notes">{{ ride.start.notes }}</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Dropoff</th>
                <td>{{ ride.destination.fullname }}<br><small class="subtext">{{ ride.destination.fulladdress }}</small>
                    {% if ride.destination.notes %}
                        <p class="destination-notes">{{ ride.destination.notes }}</p>
                    {% endif %}
               </td>
            </tr>
            <tr>
                <th>Start Time</th>
                <td>{{ ride.start_date|date:"SHORT_DATETIME_FORMAT" }}</td>
            </tr>
            {% if ride.start.timezone and TIME_ZONE != ride.start.timezone %}
                {% timezone ride.start.timezone %}
                    <tr class="info">
                        <th>Local Start Time</th>
                        <td>{{ ride.start_date|date:"P (T)" }}</td>
                    </tr>
                {% endtimezone %}
            {% endif %}
            <tr>
                <th>Ride ID</th>
                <td>{{ ride.id }}</td>
            </tr>
            {% if ride.company %}
                <tr>
                    <th>Company</th>
                    <td>{{ ride.company }}</td>
                </tr>
            {% endif %}
            {% if ride.customer.preferred_service %}
                <tr>
                    <th>Preferred Service</th>
                    <td>{{ ride.customer.preferred_service }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Phone</th>
                <td>{{ ride.customer.phone_numbers|safe }}</td>
            </tr>
            {% if ride.customer.group_membership and ride.customer.group_membership.phone %}
            <tr>
                <th>Group Phone</th>
                <td>{{ ride.customer.group_membership.phone }}</td>
            </tr>
            {% endif %}
            {% if ride.customer.special_assistance %}
                <tr class="warning">
                    <th>Special Assistance</th>
                    <td>
                        {{ ride.customer.special_assistance }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Ride Cost</th>
                <td>{% if ride.cost %}{{ ride.cost|currency|default:'0' }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dispatch Fee</th>
                <td>{{ ride.arrive_fee|currency }}
            </tr>
            <tr>
                <th>Additional Fees</th>
                <td>{{ ride.fees|currency }}</td>
            </tr>
            {% if ride.total_cost_estimate %}
                <tr>
                    <th>Total{% if ride.customer.group_membership %} to customer{% endif %}</th>
                    <td>{{ ride.total_cost_estimate|currency }} {% if ride.included_in_plan %}(included){% endif %}</td>
                </tr>
            {% endif %}
            {% if ride.customer.group_membership %}
                <tr>
                    <th>Total to Group</th>
                    <td>{{ ride.cost_to_group|currency }}</td>
                </tr>
            {% endif %}
            {% if ride.notes %}
                <tr>
                    <th>Notes</th>
                    <td>{{ ride.notes }}</td>
                </tr>
            {% endif %}
            {% if ride.invoice %}
                <tr>
                    <th>Invoice</th>
                    <td><a href="https://dashboard.stripe.com/invoices/{{ ride.invoice.stripe_id }}" target="_blank">{{ ride.invoice.stripe_id }}<a> <i class="fa fa-cc-stripe stripe-brand"></i></td>
                </tr>
                {% if ride.invoiced_by %}
                <tr>
                    <th>Invoiced By</th>
                    <td>{{ ride.invoiced_by }}</td>
                </tr>
                {% endif %}
                {% if ride.invoice.invoiced_date %}
                    <tr>
                        <th>Invoice Sent</th>
                        <td>{{ ride.invoice.invoiced_date|date:"SHORT_DATETIME_FORMAT" }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Paid</th>
                    <td>{% if ride.invoice.paid_date %}{{ ride.invoice.paid_date|date:"SHORT_DATETIME_FORMAT" }}{% else %}<em>pending</em>{% endif %}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <a href="{% url 'ride_edit' ride.id %}" class="btn btn-primary">Edit</a>
</div>
</div>