<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Ride {{ ride.id }}: {{ ride }}</h4>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Start</th>
                <td>{{ ride.start.fullname }}<br><small class="subtext">{{ ride.start.fulladdress }}</small></td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ ride.destination.fullname }}<br><small class="subtext">{{ ride.destination.fulladdress }}</small></td>
            </tr>
            <tr>
                <th>Start Time</th>
                <td>{{ ride.start_date|date:"SHORT_DATETIME_FORMAT" }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ ride.company }}</td>
            </tr>
            {% if ride.customer.preferred_service %}
                <tr>
                    <th>Preferred Service</th>
                    <td>{{ ride.customer.preferred_service }}</td>
                </tr>
            {% endif %}
            {% if ride.customer.send_updates %}
                <tr>
                    <th>Send Text Updates</th>
                    <td>
                        <i class="fa fa-commenting text-info"></i> {% if ride.customer.mobile_phone %}<strong>{{ ride.customer.mobile_phone }}</strong>{% else %}<em>no mobile phone entered!</em>{% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Complete</th>
                <td>{% if ride.complete %}
                        <i class="fa fa-check text-success"></i>
                    {% endif %}
                    {% if ride.is_scheduled %}
                        <i class="fa fa-clock-o text-primary"></i>
                    {% endif %}
                </td>
            </tr>
            {% if ride.customer.special_assistance %}
                <tr class="warning">
                    <th>Special Assitance</th>
                    <td>
                        {{ ride.customer.special_assistance }}
                    </td>
                </tr>
            {% endif %}
            {% if ride.cost %}
                <tr>
                    <th>Cost</th>
                    <td>{% if ride.cost %}${{ ride.cost }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Fee</th>
                    <td>${{ ride.fee|default:'0' }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{% if ride.cost %}${{ ride.total_cost_estimate|default:'0' }}{% endif %} {% if ride.included_in_plan %}(included){% endif %}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Distance</th>
                <td>{% if ride.distance %}
                        {{ ride.distance }} mi
                    {% endif %}
                </td>
            </tr>
            {% if ride.notes %}
                <tr>
                    <th>Notes</th>
                    <td>{{ ride.notes }}</td>
                </tr>
            {% endif %}
            {% if ride.invoice %}
                <tr>
                    <th>Invoice</th>
                    <td><a href="https://dashboard.stripe.com/invoices/{{ ride.invoice.stripe_id }}" target="_blank">{{ ride.invoice.stripe_id }}<a> <i class="fa fa-cc-stripe stripe-brand"></i></td>
                </tr>
                {% if ride.invoice.invoiced_date %}
                    <tr>
                        <th>Invoice Sent</th>
                        <td>{{ ride.invoice.invoiced_date|date:"SHORT_DATETIME_FORMAT" }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Paid</th>
                    <td>{% if ride.invoice.paid_date %}{{ ride.invoice.paid_date|date:"SHORT_DATETIME_FORMAT" }}{% else %}<em>pending</em>{% endif %}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <a href="{% url 'ride_edit' ride.id %}" class="btn btn-primary">Edit</a>
</div>
</div>