{% load custom_tags %}
<form method="post" action="{% url 'auth_login' %}" class="form-signin add-control">
	{% csrf_token %}
	<h2>Customer Login</h2>
	{% if form.non_field_errors %}
		<p class="alert alert-danger"><i class="fa fa-warning"></i> Oops! Looks like your username/password combination is wrong</p>
	{% endif %}
	{% for field in form %}
		{% render_form_field field %}
	{% endfor %}
	<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'profile' %}{% endif %}" />
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
