{% load compress %}
<!DOCTYPE html>

<html>
    <head>
        <title>Arrive Rides | {% block title %}{% endblock %}</title>

        <meta name="keywords" content="" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}ico/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}ico/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}ico/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}ico/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}ico/apple-touch-icon-180x180.png" />

        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-2.2.4.min.js"></script>
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">
        {% endcompress %}

        {% if not DEBUG %}
            {% block fb_tracking %}{% include 'fragments/facebook_pixel_code.html' with event='PageView' only %}{% endblock %}
        {% endif %}

        {% block header_includes %}{% endblock header_includes %}
    </head>

    <body{% if request.user.is_staff %} class="admin"{% endif %}>
        {% block navbar %}
            {% include 'fragments/navbar.html' %}
        {% endblock navbar %}

        {% block body %}
        {% endblock body %}

        {% block footer %}
            {% include 'fragments/footer.html' %}
        {% endblock %}
        {% block scripts %}{% endblock %}
        {% if is_prod %}
            {% include 'fragments/ga.html' %}
        {% endif %}
    </body>
</html>
