{% load compress %}
<!DOCTYPE html>

<html>
    <head>
        <title>Ease</title>

        <meta name="keywords" content="" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">

        {% compress css %}
            {% if not is_dev %}
                <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/index.less">
            {% endif %}
        {% endcompress %}

        {% if is_dev %}
            <script>
                less = {logLevel:1}
            </script>
            <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/index.less">
            <script type="text/javascript" src="{{ STATIC_URL }}js/less.min.js"></script>
        {% endif %}
        {% block header_includes %}{% endblock header_includes %}
    </head>

    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
