{% extends 'base_email.html' %}
{% block content %}
<p>
This customer's available balance was not sufficient to cover their monthly subscription, and they don't have a credit card on file.<br>
The customer now has a negative balance.</p>
<p>
<strong>Customer:</strong> {{ customer }}
<strong>Subscription Cost:</strong> ${{ monthly_cost}}
<strong>Available Balance before Subscription:</strong> ${{ available_balance }}
<strong>Current Customer Balance:</strong> ${{ current_balance }}
</p>
{% endblock %}