{% extends 'billing/billing_base.html' %}
{% block header_includes %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables-imports.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}DataTables/datatables.min.js"></script>
{% endblock %}

{% block title %}Invoiced{% endblock %}
{% block page_title %}Invoiced{% endblock %}

{% block rides_content %}
<div class="table-responsive">
    <table id="invoiced_rides" class="table table-striped table-condensed small">
        <thead>
            <tr>
                <th>Cust.</th>
                <th>ID</th>
                <th>From</th>
                <th>To</th>
                <th>Start Time</th>
                <th>Start Time</th>
                <th>Distance</th>
                <th>Cost</th>
                <th>Fees</th>
                <th>Total Cost</th>
                <th>Invoiced On</th>
                <th>Paid</th>
                <th>Paid On</th>
                <th>Company</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ride in rides %}
                <tr>
                    <td>{{ ride.customer }}</td>
                    <td><a href="{% url 'ride_edit' ride.id %}">{{ ride.id }}</a></td>
                    <td>{{ ride.start.fullname }}</td>
                    <td>{{ ride.destination.fullname }}</td>
                    <td>{{ ride.start_date|date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>{{ ride.start_date|date:"U" }}</td>
                    <td>{{ ride.distance }} mi</td>
                    <td>${{ ride.cost }}</td>
                    <td>{% if ride.total_fees %}${{ ride.total_fees }}{% endif %}</td>
                    <td>${{ ride.total_cost }}</td>
                    <td>{{ ride.invoice.invoiced_date|date:"SHORT_DATETIME_FORMAT"|default:'' }}</td>
                    <td>{% if ride.invoice.paid %}<i class="fa fa-check text-success"></i>{% endif %}</td>
                    <td>{{ ride.invoice.paid_date|date:"SHORT_DATETIME_FORMAT"|default:'' }}</td>
                    <td>{{ ride.company }}</td>
                    <td class="small">{% if ride.included_in_plan %}(included in plan) {% endif %}{{ ride.notes|default:'' }}</td>
                    <td><a href="#viewRideModal" data-rideID="{{ ride.id }}" data-toggle="modal" class="btn btn-primary btn-sm">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="viewRideModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/apps/view_ride_modal.min.js"></script>
<script>
    $(function(){
        $('#invoiced_rides').DataTable({
            'order': [[ 4, "desc" ]],
            'columnDefs': [
                {'orderData':[5], 'targets': [4] },
                {
                    'targets': [5],
                    'visible': false,
                    'searchable': false
                },
            ],
        });
    })
</script>
{% endblock scripts %}